<footer class="bg-white rounded-lg shadow m-4 mt-5 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024
            <a href="https://sport.wales" target="blank" class="hover:underline">Sport Wales</a>
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="{% if isSubdirectory %}../{% endif %}accessibility-statement.html" class="mr-4 hover:underline md:mr-6 ">Accessibility Statement</a>
            </li>
            <li>
                <a href="{% if isSubdirectory %}../{% endif %}privacy-policy.html" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
            </li>
            <li>
                <a href="{% if isSubdirectory %}../{% endif %}developers.html" class="mr-4 hover:underline md:mr-6">Developers</a>
            </li>
            <li>
                <a href="{% if isSubdirectory %}../{% endif %}website-roadmap.html" class="mr-4 hover:underline">Website Roadmap</a>
            </li>
            <li>
                <a href="{% if isSubdirectory %}../{% endif %}contact.html" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
</footer>