{% extends "base.njk" %}
{% block content %}

<!-- 

about section to include (in alphabetical order):

Anselm Powell
Calvin Ley
Mathew James
Matt Kinnear
Owain Morris
Owen Sullivan
Paul Batcup
Phil Stephens
Steffan Berrow
Tara Rhoseyn
Tom Morgan
Yusra Hussain

-->

    <div class="container mx-auto px-9 max-w-screen-xl">
        <h1 class="my-20 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Meet the Team</h1>
        <p class="mb-3">The Digital and Service Design Team is a hybrid team of folks from across different directorates, we come together on a regular basis to help colleagues with projects, support, and guidance.</p>
        <!-- STAFF INTRODUCTIONS -->
        <div class="grid grid-cols-3 gap-6 mb-7">
            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center text-center mb-7">
                <img src="https://github.com/Sport-Wales/digital-team-site/blob/main/assets/img/profiles/anselm-powell.png?raw=true" alt="" 
                class="h-20 w-20 rounded-full">
                <h2 class="text-xl font-bold mt-2 mb-1">Anselm Powell</h2>
                <p>Digital Apprentice</p>
            </div>
            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center text-center mb-7">
                <img class="h-20 w-20 rounded-full" src="https://github.com/Sport-Wales/digital-team-site/blob/main/assets/img/profiles/calvin-ley.png?raw=true" alt="">
                <h2 class="text-xl font-bold mt-2 mb-1">Calvin Ley</h2>
                <p>Digital Service Desk Manager</p>
            </div>
            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center text-center mb-7">
                <img class="h-20 w-20 rounded-full" src="https://github.com/Sport-Wales/digital-team-site/blob/main/assets/img/profiles/mathew-james.png?raw=true" alt="">
                <h2 class="text-xl font-bold mt-2 mb-1">Mathew James</h2>
                <p>Technology Programme Manager</p>
            </div>
            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center text-center mb-7">
                <img class="h-20 w-20 rounded-full" src="https://github.com/Sport-Wales/digital-team-site/blob/main/assets/img/profiles/matt-kinnear.png?raw=true" alt="">
                <h2 class="text-xl font-bold mt-2 mb-1">Matt Kinnear</h2>
                <p>Digital Estate Lead</p>
            </div>
            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center text-center mb-7">
                <img class="h-20 w-20 rounded-full" src="https://github.com/Sport-Wales/digital-team-site/blob/main/assets/img/profiles/owain-morris.png?raw=true" alt="">
                <h2 class="text-xl font-bold mt-2 mb-1">Owain Morris</h2>
                <p>Service Design Officer</p>
            </div>
            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center text-center mb-7">
                <img class="h-20 w-20 rounded-full" src="https://github.com/Sport-Wales/digital-team-site/blob/main/assets/img/profiles/owen-sullivan.png?raw=true" alt="">
                <h2 class="text-xl font-bold mt-2 mb-1">Owen Sullivan</h2>
                <p>Deputy Digital Estate Lead</p>
            </div>
            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center text-center mb-7">
                <img class="h-20 w-20 rounded-full" src="https://github.com/Sport-Wales/digital-team-site/blob/main/assets/img/profiles/paul-batcup.png?raw=true" alt="">
                <h2 class="text-xl font-bold mt-2 mb-1">Paul Batcup</h2>
                <p>Digital Programme Lead</p>
            </div>
            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center text-center mb-7">
                <img class="h-20 w-20 rounded-full" src="https://github.com/Sport-Wales/digital-team-site/blob/main/assets/img/profiles/phil-stephens.png?raw=true" alt="">
                <h2 class="text-xl font-bold mt-2 mb-1">Phil Stephens</h2>
                <p>Information Security Lead</p>
            </div>
            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center text-center mb-7">
                <img class="h-20 w-20 rounded-full" src="https://github.com/Sport-Wales/digital-team-site/blob/main/assets/img/profiles/steffan-berrow.png?raw=true" alt="">
                <h2 class="text-xl font-bold mt-2 mb-1">Steffan Berrow</h2>
                <p>User Research Lead</p>
            </div>
            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center text-center mb-7">
                <img class="h-20 w-20 rounded-full" src="https://github.com/Sport-Wales/digital-team-site/blob/main/assets/img/profiles/tara-rhoseyn.png?raw=true" alt="">
                <h2 class="text-xl font-bold mt-2 mb-1">Tara Rhoseyn</h2>
                <p>Digital and Service Design Programme Manager</p>
            </div>
            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center text-center mb-7">
                <img class="h-20 w-20 rounded-full" src="https://github.com/Sport-Wales/digital-team-site/blob/main/assets/img/profiles/tom-morgan.png?raw=true" alt="">
                <h2 class="text-xl font-bold mt-2 mb-1">Tom Morgan</h2>
                <p>Digital Services Desk Technician</p>
            </div>
            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center text-center mb-7">
                <img class="h-20 w-20 rounded-full" src="https://github.com/Sport-Wales/digital-team-site/blob/main/assets/img/profiles/yusra-hussain.png?raw=true" alt="">
                <h2 class="text-xl font-bold mt-2 mb-1">Yusra Hussain</h2>
                <p>Digital Apprentice</p>
            </div>
        </div>
        <!-- video of team from vimeo: -->
        <div style="padding:56.25% 0 0 0;position:relative;">
            <iframe
                src="https://player.vimeo.com/video/870620417?h=f4d5c4acae&amp;badge=0&amp;autopause=0&amp;quality_selector=1&amp;player_id=0&amp;app_id=58479"
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture"
                style="position:absolute;top:0;left:0;width:100%;height:100%;"
                title="Sport Wales Digital and Service Design Team"></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
{% endblock %}