{% extends "base.njk" %}
{% block content %}
    <!-- about section to include (in alphabetical order):
    
    Anselm Powell 
    Calvin Ley 
    Mathew James 
    Matt Kinnear 
    Owain Morris 
    Owen Sullivan 
    Paul Batcup 
    Phil Stephens 
    Steffan Berrow
    Tara Rhoseyn 
    Tom Morgan 
    Yusra Hussain -->
    <div class="container mx-auto px-9 max-w-screen-xl mb-5">
        <h1 class="my-20 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Meet the Team</h1>
        <p class="mb-3" style="padding-bottom: 1% ;">The Digital and Service Design Team is a hybrid team of folks from across
            different directorates, we come together on a regular basis to help colleagues with projects, support, and guidance.</p>
    </div>
    <!-- VIDEO -->
    <div
        class="mx-auto"
        id="team-container"
        style="position: relative; height: 90vh; overflow: hidden; background-color: rgb(255, 255, 255); transition: top 0.5s;
            z-index: 10;">
        <div
            class="background-video"
            id="background-video"
            style="position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 70vh; width: 80vw;">
            <iframe
                id="video-player"
                src="https://player.vimeo.com/video/870620417?h=f4d5c4acae&amp;badge=0&amp;autopause=0&amp;quality_selector=1&amp;player_id=0&amp;app_id=58479"
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture"
                style="width:100%;height:100%;"
                title="Sport Wales Digital and Service Design Team"></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
    <!-- <div style="height: 80vh; position: relative; z-index:-1; " ></div> -->
    <div
        class="team-info"
        id="team-info"
        style="z-index: 5; width: 96vw; position: relative; padding-left: 6%; background-color: white; overflow: hidden;">
        <div class="wrapper ">
            <i id="left-scroll" class="fa-solid fa-angle-left"></i>
            <ul class="carousel">
                <li class="card bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
                        focus:ring-red-300 dark:focus:ring-red-800">
                    <div class="img"><img
                            src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/anselm-powell.webp?raw=true"
                            alt="">
                    </div>
                    <h2>Anselm Powell</h2>
                    <p>Digital Apprentice</p>
                    <a
                        href="blogs.html"
                        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r
                            from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300
                            dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 mt-6 text-lg">
                        Read blog posts
                    </a>
                </li>
                <li class="card bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
                        focus:ring-red-300 dark:focus:ring-red-800">
                    <div class="img"><img
                            class="h-20 w-20 rounded-full"
                            src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/calvin-ley.webp?raw=true"
                            alt="">
                    </div>
                    <h2>Calvin Ley
                    </h2>
                    <p>Digital Service Desk Manager</p>
                    <a
                        href="blogs.html"
                        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r
                            from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300
                            dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 mt-6 text-lg">
                        Read blog posts
                    </a>
                </li>
                <li class="card bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
                        focus:ring-red-300 dark:focus:ring-red-800">
                    <div class="img"><img
                            class="h-20 w-20 rounded-full"
                            src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/mathew-james.webp?raw=true"
                            alt="">
                    </div>
                    <h2>Mathew James</h2>
                    <p>Technology Programme Manager</p>
                    <a
                        href="blogs.html"
                        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r
                            from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300
                            dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 mt-6 text-lg">
                        Read blog posts
                    </a>
                </li>
                <li class="card bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
                        focus:ring-red-300 dark:focus:ring-red-800">
                    <div class="img"><img
                            class="h-20 w-20 rounded-full"
                            src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/matt-kinnear.webp?raw=true"
                            alt="">
                    </div>
                    <h2>Matt Kinnear
                    </h2>
                    <p>Digital Estate Lead</p>
                    <a
                        href="blogs.html"
                        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r
                            from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300
                            dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 mt-6 text-lg">
                        Read blog posts
                    </a>
                </li>
                <li class="card bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
                        focus:ring-red-300 dark:focus:ring-red-800">
                    <div class="img"><img
                            class="h-20 w-20 rounded-full"
                            src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/owain-morris.webp?raw=true"
                            alt="">
                    </div>
                    <h2>Owain Morris
                    </h2>
                    <p>
                        Service Design Officer
                    </p>
                    <a
                        href="blogs.html"
                        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r
                            from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300
                            dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 mt-6 text-lg">
                        Read blog posts
                    </a>
                </li>
                <li class="card bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
                        focus:ring-red-300 dark:focus:ring-red-800">
                    <div class="img">
                        <img
                            class="h-20 w-20 rounded-full"
                            src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/owen-sullivan.webp?raw=true"
                            alt="">
                    </div>
                    <h2>Owen Sullivan
                    </h2>
                    <p>Deputy Digital Estate Lead</p>
                    <a
                        href="blogs.html"
                        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r
                            from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300
                            dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 mt-6 text-lg">
                        Read blog posts
                    </a>
                </li>
                <li class="card bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
                        focus:ring-red-300 dark:focus:ring-red-800">
                    <div class="img">
                        <img
                            class="h-20 w-20 rounded-full"
                            src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/paul-batcup.webp?raw=true"
                            alt="">
                    </div>
                    <h2>Paul Batcup</h2>
                    <p>Digital Program Lead</p>
                    <a
                        href="blogs.html"
                        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r
                            from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300
                            dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 mt-6 text-lg">
                        Read blog posts
                    </a>
                </li>
                <li class="card bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
                        focus:ring-red-300 dark:focus:ring-red-800">
                    <div class="img">
                        <img
                            class="h-20 w-20 rounded-full"
                            src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/phil-stephens.webp?raw=true"
                            alt="">
                    </div>
                    <h2>Phil Stephens</h2>
                    <p>Information Security Lead</p>
                    <a
                        href="blogs.html"
                        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r
                            from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300
                            dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 mt-6 text-lg">
                        Read blog posts
                    </a>
                </li>
                <li class="card bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
                        focus:ring-red-300 dark:focus:ring-red-800">
                    <div class="img">
                        <img
                            class="h-20 w-20 rounded-full"
                            src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/steffan-berrow.webp?raw=true"
                            alt="">
                    </div>
                    <h2>Steffan Berrow</h2>
                    <p>User Research Lead</p>
                    <a
                        href="blogs.html"
                        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r
                            from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300
                            dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 mt-6 text-lg">
                        Read blog posts
                    </a>
                </li>
                <li class="card bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
                        focus:ring-red-300 dark:focus:ring-red-800">
                    <div class="img">
                        <img
                            class="h-20 w-20 rounded-full"
                            src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/tara-rhoseyn.webp?raw=true"
                            alt="">
                    </div>
                    <h2>Tara Rhoseyn</h2>
                    <p>Digital and Service Design Programme Manager</p>
                    <a
                        href="blogs.html"
                        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r
                            from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300
                            dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 mt-6 text-lg">
                        Read blog posts
                    </a>
                </li>
                <li class="card bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
                        focus:ring-red-300 dark:focus:ring-red-800">
                    <div class="img">
                        <img
                            class="h-20 w-20 rounded-full"
                            src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/tom-morgan.webp?raw=true"
                            alt="">
                    </div>
                    <h2>Tom Morgan</h2>
                    <p>Digital Services Desk Technician</p>
                    <a
                        href="blogs.html"
                        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r
                            from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300
                            dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 mt-6 text-lg">
                        Read blog posts
                    </a>
                </li>
                <li class="card bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
                        focus:ring-red-300 dark:focus:ring-red-800">
                    <div class="img">
                        <img
                            class="h-20 w-20 rounded-full"
                            src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/yusra-hussain.webp?raw=true"
                            alt="">
                    </div>
                    <h2>Yusra Hussain</h2>
                    <p>Digital Apprentice</p>
                    <a
                        href="blogs.html"
                        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r
                            from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300
                            dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 mt-6 text-lg">
                        Read blog posts
                    </a>
                </li>
            </ul>
            <i id="right-scroll" class="fa-solid fa-angle-right"></i>
        </div>
    </div>
    <script>
        addEventListener('scroll', e => {
            const scrollTop = document.documentElement.scrollTop;
            // console.log('scrollTop', scrollTop) console.log('Windows', window.innerHeight) console.log('exit %',
            // window.innerHeight / scrollTop)
        })
        var scrollDirection = 0;
        var counter = 0;
        var lastScrollPosition = 0
        var scrollThresholdPercentage = 80;
        var scrollStart = true
        const wrapper = document.querySelector(".wrapper");
        const carousel = document.querySelector(".carousel");
        const firstCardWidth = carousel.querySelector(".card").offsetWidth;
        const arrowBtns = document.querySelectorAll(".wrapper i");
        const carouselChildrens = [... carousel.children];
        var isDragging = false,
            isAutoPlay = true,
            startX,
            startScrollLeft,
            timeoutId;
        // remove this
        var startAutoScroll = false;
        var startPlayVideo = false
        window.addEventListener('scroll', function () {
            const scrollTop = document.documentElement.scrollTop;
            var scrollPosition = window.scrollY;
            var responsiveScreenPosition = window.innerHeight / scrollTop
            var scrollThreshold = (window.innerHeight * scrollThresholdPercentage) / 100;
            // console.log('scrollThreshold %', scrollThreshold)
            // REMOVE THIS Overlay Separatson on scroll var translateY = Math.min(scrollPosition, window.innerHeight); var
            // translateYBottom = Math.min(scrollPosition * 2, window.innerHeight * 2);
            // document.getElementById('top-image').style.transform = 'translateY(' + -translateY + 'px)';
            // document.getElementById('bottom-image').style.transform = 'translateY(' + translateYBottom + 'px)';
            // Calculate the scaling factor based on the scroll position for the opacity
            const scalingFactorO = Math.min(1, (scrollPosition - 30) / (100));
            // Calculate the scaling factor based on the scroll position for the height and width
            const scalingFactorH = Math.min(1, (scrollPosition - 10) / (100 - 10));
            if (responsiveScreenPosition < 4.4) {
                document
                    .getElementById('team-container')
                    .style
                    .top = '0px'
                carousel.classList.add("scrolling");
                if (responsiveScreenPosition < 3.4) { // Trigger autoplay
                    if (! startPlayVideo) {
                        var videoIframe = document.getElementById('video-player');
                        if (videoIframe) {
                            videoIframe.contentWindow.postMessage('{"method":"setVolume", "value":0}', '*');
                            videoIframe.contentWindow.postMessage('{"method":"play"}', '*');
                            videoAutoplayTriggered = true;
                            startPlayVideo = true;
                        }
                    }
                }
                if (responsiveScreenPosition < 2.5) {
                    document
                        .getElementById('bottom-image')
                        .style
                        .display = 'none';
                }
            }
            if (responsiveScreenPosition > 2) {
                document
                    .getElementById('bottom-image')
                    .style
                    .display = 'block';
                document
                    .getElementById('team-container')
                    .style
                    .top = '64px'
            }
            if (scrollPosition > scrollThreshold) {
                var distanceFromThreshold = scrollPosition - scrollThreshold;
                document
                    .getElementById('team-container')
                    .style
                    .transform = 'translateY(' + - distanceFromThreshold + 'px)';
                videoIframe.contentWindow.postMessage('{"method":"pause"}', '*');
            }
            // reset screen to original position
            if (scrollPosition < 80) {
                document
                    .getElementById('team-container')
                    .style
                    .top = '64px'
                document
                    .getElementById('team-container')
                    .style
                    .transform = 'translateY(0px)';
                videoIframe.contentWindow.postMessage('{"method":"pause"}', '*');
                clearInterval(timeoutId);
            }
        });
        // Get the number of cards that can fit in the carousel at once
        let cardPerView = Math.round(carousel.offsetWidth / firstCardWidth);
        // Insert copies of the last few cards to beginning of carousel for infinite scrolling
        carouselChildrens
            .slice(- cardPerView)
            .reverse()
            .forEach(card => {
                carousel.insertAdjacentHTML("afterbegin", card.outerHTML);
            });
        // Insert copies of the first few cards to end of carousel for infinite scrolling
        carouselChildrens.slice(0, cardPerView).forEach(card => {
            carousel.insertAdjacentHTML("beforeend", card.outerHTML);
        });
        // Scroll the carousel at appropriate postition to hide first few duplicate cards on Firefox
        carousel.classList.add("no-transition");
        carousel.scrollLeft = carousel.offsetWidth;
        carousel.classList.remove("no-transition");
        // Add event listeners for the arrow buttons to scroll the carousel left and right
        arrowBtns.forEach(btn => {
            btn.addEventListener("click", () => {
                carousel.scrollLeft += btn.id == "left-scroll"
                    ? - firstCardWidth
                    : firstCardWidth;
            });
        });
        const dragStart = (e) => {
            isDragging = true;
            carousel.classList.add("dragging");
            // Records the initial cursor and scroll position of the carousel
            startX = e.pageX;
            startScrollLeft = carousel.scrollLeft;
        }
        const dragging = (e) => {
            if (! isDragging) 
                return;
             // if isDragging is false return from here Updates the scroll position of the carousel based on the cursor movement
            carousel.scrollLeft = startScrollLeft - (e.pageX - startX);
        }
        const dragStop = () => {
            isDragging = false;
            carousel.classList.remove("dragging");
        }
    </script>
{% endblock %}