{% extends "base.njk" %}
{% block content %}
    <!-- about section to include (in alphabetical order):
    
    Anselm Powell 
    Calvin Ley 
    Mathew James 
    Matt Kinnear 
    Owain Morris 
    Owen Sullivan 
    Paul Batcup 
    Phil Stephens 
    Steffan Berrow
    Tara Rhoseyn 
    Tom Morgan 
    Yusra Hussain -->
    <div class="container mx-auto px-9 max-w-screen-xl mb-5">
        <h1 class="my-20 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Meet the Team</h1>
        <p class="mb-3 text-black" style="padding-bottom: 1% ;">The Digital and Service Design Team is a hybrid team of folks from across
            different directorates, we come together on a regular basis to help colleagues with projects, support, and guidance.</p>
    </div>
    <!-- VIDEO -->
    <div
        class="mx-auto"
        id="team-container"
        style="position: relative; height: 90vh; overflow: hidden; background-color: rgb(255, 255, 255); transition: top 0.5s;
            z-index: 10;">
        <div
            class="background-video"
            id="background-video"
            style="position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 70vh; width: 80vw;">
            <iframe
                id="video-player"
                src="https://player.vimeo.com/video/870620417?h=f4d5c4acae&amp;badge=0&amp;autopause=0&amp;quality_selector=1&amp;player_id=0&amp;app_id=58479"
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture"
                style="width:100%;height:100%;"
                title="Sport Wales Digital and Service Design Team"></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
    <!-- for small screens -->
    <div class="lg:hidden">
        <div class="flex flex-wrap justify-center mt-10">
            <!-- card 1 -->
            <div class="p-4 max-w-sm mobile-card">
                <div class="flex items-center justify-center rounded-lg h-full bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br shadow-xl p-8 flex-col  w-300">
                    <div class="img h-20 w-20 rounded-full">
                        <img
                            class="h-20 w-20 rounded-full"
                            src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/anselm-powell.webp?raw=true"
                            alt="">
                    </div>
                    <h2 class="text-2xl font-bold my-4 mobile-card-name">Anselm Powell</h2>
                    <p class="card-job-title p-3 text-center mobile-card-job-title">Digital Apprentice</p>
                </div>
            </div>
            <!-- card 2 -->
            <div class="p-4 max-w-sm mobile-card">
                <div class="flex items-center justify-center rounded-lg h-full bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br shadow-xl p-8 flex-col  w-300">
                    <div class="img">
                        <img
                            class="h-20 w-20 rounded-full"
                            src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/calvin-ley.webp?raw=true"
                            alt="">
                    </div>
                    <h2 class="text-2xl font-bold my-4 mobile-card-name">Calvin Ley</h2>
                    <p class="card-job-title p-3 text-center mobile-card-job-title">Digital Service Desk Manager</p>
                </div>
            </div>
            <div class="p-4 max-w-sm mobile-card">
                <div class="flex items-center justify-center rounded-lg h-full bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br shadow-xl p-8 flex-col w-300">
                        <div class="img">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/mathew-james.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 mobile-card-name">Mathew James</h2>
                        <p class="card-job-title p-3 text-center mobile-card-job-title">Technology Programme Manager</p>
                </div>
            </div>
            <div class="p-4 max-w-sm mobile-card">
                <div class="flex items-center justify-center rounded-lg h-full bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br shadow-xl p-8 flex-col  w-300">
                        <div class="img">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/matt-kinnear.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 mobile-card-name">Matt Kinnear</h2>
                        <p class="card-job-title p-3 text-center mobile-card-job-title">Digital Estate Lead</p>
                </div>
            </div>
            <div class="p-4 max-w-sm mobile-card">
                <div class="flex items-center justify-center rounded-lg h-full bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br shadow-xl p-8 flex-col">
                        <div class="img">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/owain-morris.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 mobile-card-name">Owain Morris</h2>
                        <p class="card-job-title p-3 text-center mobile-card-job-title">Service Design Officer</p>
                </div>
            </div>
            <div class="p-4 max-w-sm mobile-card">
                <div class="flex items-center justify-center rounded-lg h-full bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br shadow-xl p-8 flex-col">
                        <div class="img">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/owen-sullivan.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 mobile-card-name">Owen Sullivan</h2>
                        <p class="card-job-title p-3 text-center mobile-card-job-title">Deputy Digital Estate Lead</p>
                </div>
            </div>
            <div class="p-4 max-w-sm mobile-card">
                <div class="flex items-center justify-center rounded-lg h-full bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br shadow-xl p-8 flex-col">
                        <div class="img">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/paul-batcup.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 mobile-card-name">Paul Batcup</h2>
                        <p class="card-job-title p-3 text-center mobile-card-job-title">Digital Programme Lead</p>
                        <a
                            href="blogs-by-paul-batcup.html"
                            class="mb-8 mt-2 card-blog-btn px-3 py-2 text-xs font-medium text-center 
                            text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-full me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                            Read blogs by Paul
                        </a>
                </div>
            </div>
            <div class="p-4 max-w-sm mobile-card">
                <div class="flex items-center justify-center rounded-lg h-full bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br shadow-xl p-8 flex-col">
                        <div class="img">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/phil-stephens.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 mobile-card-name">Phil Stephens</h2>
                        <p class="card-job-title p-3 text-center mobile-card-job-title">Information Security Lead</p>
                        <a
                            href="blogs-by-phil-stephens.html"
                            class="mb-8 mt-2 card-blog-btn px-3 py-2 text-xs font-medium text-center 
                            text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-full me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                            Read blogs by Phil
                        </a>
                </div>
            </div>
            <div class="p-4 max-w-sm mobile-card">
                <div class="flex items-center justify-center rounded-lg h-full bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br shadow-xl p-8 flex-col">
                        <div class="img">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/steffan-berrow.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 mobile-card-name">Steffan Berrow</h2>
                        <p class="card-job-title p-3 text-center mobile-card-job-title">Service Design and Development Lead</p>
                        <a
                            href="blogs-by-steffan-berrow.html"
                            class="mb-8 mt-2 card-blog-btn px-3 py-2 text-xs font-medium text-center 
                            text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-full me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                            Read blogs by Steff
                        </a>
                </div>
            </div>
            <div class="p-4 max-w-sm mobile-card">
                <div class="flex items-center justify-center rounded-lg h-full bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br shadow-xl p-8 flex-col">
                        <div class="img">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/tara-rhoseyn.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 mobile-card-name">Tara Rhoseyn</h2>
                        <p class="card-job-title p-3 text-center mobile-card-job-title">Software Developer</p>
                        <a
                            href="blogs-by-tara-rhoseyn.html"
                            class="mb-8 mt-2 card-blog-btn px-3 py-2 text-xs font-medium text-center 
                            text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-full me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                            Read blogs by Tara
                        </a>
                </div>
            </div>
            <div class="p-4 max-w-sm mobile-card">
                <div class="flex items-center justify-center rounded-lg h-full bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br shadow-xl p-8 flex-col">
                        <div class="img">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/tom-morgan.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 mobile-card-name">Tom Morgan</h2>
                        <p class="card-job-title p-3 text-center mobile-card-job-title">Digital Services Desk Technician</p>
                </div>
            </div>
            <div class="p-4 max-w-sm mobile-card">
                <div class="flex items-center justify-center rounded-lg h-full bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br shadow-xl p-8 flex-col">
                        <div class="img">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/yusra-hussain.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 mobile-card-name">Yusra Hussain</h2>
                        <p class="card-job-title p-3 text-center mobile-card-job-title">Digital Apprentice</p>
                </div>
            </div>
        </div>
    </div>
    <!-- for large screens -->
    <div class="hidden lg:block">
        <div
            class="team-info"
            id="team-info"
            style="z-index: 5; width: 96vw; position: relative; background-color: white;">
            <div class="wrapper ">
                <i id="left-scroll" class="fa-solid fa-angle-left"></i>
                <ul class="carousel">
                    <li class="
                    card bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br">
                        <div class="img"><img
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/anselm-powell.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 card-name">Anselm Powell</h2>
                        <p class="card-job-title p-3 text-center">Digital Apprentice</p>
                    </li>
                    <li class="card bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br">
                        <div class="img"><img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/calvin-ley.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 card-name">Calvin Ley
                        </h2>
                        <p class="card-job-title p-3 text-center">Digital Service Desk Manager</p>
                    </li>
                    <li class="card bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br">
                        <div class="img"><img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/mathew-james.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 card-name">Mathew James</h2>
                        <p class="card-job-title p-3 text-center">Technology Programme Manager</p>
                    </li>
                    <li class="card bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br">
                        <div class="img"><img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/matt-kinnear.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 card-name">Matt Kinnear
                        </h2>
                        <p class="card-job-title p-3 text-center">Digital Estate Lead</p>
                    </li>
                    <li class="card bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br">
                        <div class="img"><img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/owain-morris.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 card-name">Owain Morris
                        </h2>
                        <p class="card-job-title p-3 text-center">
                            Service Design Officer
                        </p>
                    </li>
                    <li class="card bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br">
                        <div class="img mt-5">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/owen-sullivan.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 card-name mb-2">Owen Sullivan
                        </h2>
                        <p class="card-job-title p-3 text-center">Deputy Digital Estate Lead</p>
                    </li>
                    <li class="card bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br">
                        <div class="img mt-5">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/paul-batcup.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 card-name mb-2">Paul Batcup</h2>
                        <p class="card-job-title p-3 text-center">Digital Programme Lead</p>
                        <a
                            href="blogs-by-paul-batcup.html"
                            class="mb-8 mt-2 card-blog-btn px-3 py-2 text-xs font-medium text-center 
                            text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-full me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                            Read blogs by Paul
                        </a>
                    </li>
                    <li class="card bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br">
                        <div class="img mt-5">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/phil-stephens.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 card-name mb-2">Phil Stephens</h2>
                        <p class="card-job-title p-3 text-center">Information Security Lead</p>
                        <a
                            href="blogs-by-phil-stephens.html"
                            class="mb-8 mt-2 card-blog-btn px-3 py-2 text-xs font-medium text-center 
                            text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-full me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                            Read blogs by Phil
                        </a>
                    </li>
                    <li class="card bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br">
                        <div class="img mt-5">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/steffan-berrow.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 card-name mb-2">Steffan Berrow</h2>
                        <p class="card-job-title p-3 text-center">Service Design and Development Lead</p>
                        <a
                            href="blogs-by-steffan-berrow.html"
                            class="mb-8 mt-2 card-blog-btn px-3 py-2 text-xs font-medium text-center 
                            text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-full me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                            Read blogs by Steff
                        </a>
                    </li>
                    <li class="card bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br">
                        <div class="img mt-5">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/tara-rhoseyn.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold mb-2 card-name">Tara Rhoseyn</h2>
                        <p class="pt-0 pl-4 pr-4 pb-0 text-center card-job-title">Software Developer</p>
                        <a
                            href="blogs-by-tara-rhoseyn.html"
                            class="mb-8 mt-2 card-blog-btn px-3 py-2 text-xs font-medium text-center 
                            text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-full me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                            Read blogs by Tara
                        </a>
                    </li>
                    <li class="card bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br">
                        <div class="img">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/tom-morgan.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 card-name">Tom Morgan</h2>
                        <p class="card-job-title p-3 text-center">Digital Services Desk Technician</p>
                    </li>
                    <li class="card bg-gray-300 shadow-xl from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br">
                        <div class="img">
                            <img
                                class="h-20 w-20 rounded-full"
                                src="https://github.com/Sport-Wales/digital-team-site/blob/main/dist/img/profiles/yusra-hussain.webp?raw=true"
                                alt="">
                        </div>
                        <h2 class="text-2xl font-bold my-4 card-name">Yusra Hussain</h2>
                        <p class="card-job-title p-3 text-center">Digital Apprentice</p>
                    </li>
                </ul>
                <i id="right-scroll" class="fa-solid fa-angle-right"></i>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
<script src="./js/staff-carousel.js"></script>
{% endblock %}
