{% extends "base.njk" %}
{% block content %}
<div class="container mx-auto px-9 max-w-screen-xl mb-5">
    <h1 class="my-20 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Agile Project Management Tools</h1>
    <p class="mt-3">
        These tools are used in Agile project management and are designed to help you manage projects more efficiently.
        </p>
        <p class="mt-3">
            They are used by the Digital and Service Design Team and we will utilise them as tools when supporting colleagues’ projects through their lifecycle. However, they do not have to be used exclusively for projects run in co-operation with the Digital and Service Design Team. We would also encourage colleagues across Sport Wales to utilise some of these resources.
        </p>
    </p>
    <h2 class="text-3xl font-bold my-4">Downloadable Project Resources:</h2>
        <p class="mt-3">
			<a href="https://github.com/Sport-Wales/digital-team-site/raw/main/dist/docs/1.%20Business%20Case%20Template.docx">
				1. Business Case template
			</a>
        </p>
		<p class="mt-3">
			<a href="https://github.com/Sport-Wales/digital-team-site/raw/main/dist/docs/2.%20Management%20Approach%20Definition%20template.docx">
				2. Management Approach Definition template
			</a>
        </p>
		<p class="mt-3">
			<a href="https://github.com/Sport-Wales/digital-team-site/raw/main/dist/docs/3.%20Project%20delivery%20plan%20template.xlsx">
				3. Project Delivery Plan template
			</a>
        </p>
		<p class="mt-3">
			<a href="https://github.com/Sport-Wales/digital-team-site/raw/main/dist/docs/4.%20RAID%20Log.xlsx">
				4. RAID log
			</a>
        </p>
		<p class="mt-3">
			<a href="https://github.com/Sport-Wales/digital-team-site/raw/main/dist/docs/5.%20Project%20Canvas.pptx">
				5. Project Canvas
			</a>
        </p>
		<p class="mt-3">
			<a href="https://github.com/Sport-Wales/digital-team-site/raw/main/dist/docs/6.%20MoSCoW%20Prioritisation_template.docx">
				6. MoSCoW Prioritisation template
			</a>
        </p>
		<p class="mt-3">
			<a href="https://github.com/Sport-Wales/digital-team-site/raw/main/dist/docs/7.%20Prioritised%20Requirements%20List_TEMPLATE.xlsx">
				7. Prioritised Requirements List template
			</a>
        </p> 
</div>
{% endblock %}