<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="https://raw.githubusercontent.com/Sport-Wales/digital-team-site/main/assets/icons/sw_favicon.ico" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet"/>
    <link href="../assets/css/styles.css" rel="stylesheet"/>
    <title>{{ pageTitle }}</title>
  </head>
  <body>
    {% include 'includes/nav.njk' %}
    {% block content %}{% endblock %}
    {% include 'includes/footer.njk' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    {# <script src="../assets/js/main.js"></script> #}
  </body>
</html>