{% extends "base.njk" %}
{% block content %}
<div class="container mx-auto px-9 max-w-screen-xl mb-5">
    <h1 class="mt-20 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">National Centre – the digital journey begins</h1>
    <p class="mt-2 mb-7 text-slate-500">{{ date }}</p>
    <div class="flex justify-left items-left mb-7">
        <img
            src="{{ profilePicture }}"
            alt="{{ author }}'s Picture"
            class="h-10 w-10 rounded-full bg-gray-50 mr-3">
        <h2 class="mt-2 text-slate-500">By {{author}}</h2>
    </div>
    <p class="mb-3">It feels great to say that the Sport Wales National Centre is starting a new digital journey.</p>
    <p class="mb-3">Members of the National Centre team, supported by project and research experts, have begun the ‘Discovery Phase’ looking at how the centre can ‘improve&nbsp;user experience’.&nbsp;</p>
    <p class="mb-3">One of the experts supporting us on our journey will be a familiar face to many. Maria Carmo was project lead for the Centre for Digital Public Services on the Discovery and Alpha phases of the Community Investment project. We’re delighted Maria has agreed to join our project as she brings vital experience of Agile Project Management, as well as of Sport Wales.</p>
    <p class="mb-3">From our team’s side, Adam Bailey, Denise Nicholas and John Williams will form part of the core project team. Alongside their day-to-day work, they will be working three days a week on the Discovery, a commitment they have made to really accelerate this work and get to the heart of user needs.</p>
    <div class="image-container mx-auto my-5">
        <img class="custom-image" src="https://www.sport.wales/images/custom/a1/dc7e6b2ff070432a37ca0ae3147df3/w700/h467/fx28.9/fy54.0/wpoJPG/images/uploads/a1dc7e6b2ff070432a37ca0ae3147df3.webp" alt="Gym Equipment at Sport Wales">
    </div>
    <p class="mb-3">What’s next?</p>
    <p class="mb-3">There will be lots of questions we’ll be looking to answer and opportunities for stakeholders to engage - Who are the users? What are the possibilities? What’s the problem we’re trying to solve?</p>
    <p class="mb-3">Over the next 12 weeks, the project team will be engaging with stakeholders and users, and the team is looking forward to sharing their journey with regular ‘show and tell’ sessions being scheduled.&nbsp;</p>
    <p class="mb-3">Keep an eye out for your meeting invites.</p>
</div>
{% endblock %}
