{% extends "base.njk" %}
{% block content %}
<div class="container mx-auto px-4 max-w-screen-xl">
    <h1 class="mt-20 mb-10 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
      Take a giant leap…with one small step, by Paul Batcup
    </h1>
    <div class="flex justify-left items-left mb-4">
        <img
            src="{{ profilePicture }}"
            alt="{{ author }}'s Picture"
            class="h-10 w-10 rounded-full bg-gray-50 mr-3">
        <div>
            <h2 class="mt-2 text-slate-500">By {{author}},</h2>
            <p class="mt-1 text-slate-500">{{ date }}</p>
        </div>
    </div>
  

  <div class="template-text container mx-auto px-4">
    <article class="te">
      <div class="te text-gray-700">
        <p><strong>Landing the Eagle module on the Moon must have been terrifying in itself, with a step onto the Sea of Tranquillity the next giant leap of Neil Armstrong’s place in history.</strong></p>
        <p>Apparently, Armstrong was nervous. Not about dying or never seeing his family again – but about failing his mission.</p>
        <p>I wonder if the nerves would have gone up a notch if he’d been shown the developments in technology in years to come compared to what was powering Apollo 11 back in 1969.</p>
        <p>It’s a theme we see at Sport Wales when it comes to technology. Many of us are reluctant to take the first step for fear of too giant a leap.</p>
        <p>Things like time, understanding, budget, knowledge, and more being cited as reasons to keep with the status quo.</p>
        <p>On the opposite side, we (<a href="https://www.sport.wales/digital-and-service-design/" class="text-blue-500">the Digital and Service Design Team</a>) need to communicate and engage with you more and be seen as a supporter, rather than putting up more hurdles than would be enough for Colin Jackson to negotiate (I’m starting to show my age with the references in this blog).</p>
      </div>
    </article>
  </div>

  <div class="image-container maintain-image-ratio mt-10 mx-auto">
    <img class="custom-image rounded-lg" src="https://www.sport.wales/images/custom/58/9c32d5c770ec15e4a06cab3f266411/w1050/h588/fx28.9/fy21.7/wpojpg/images/uploads/589c32d5c770ec15e4a06cab3f266411.webp" alt="Neil Armstrong on the moon with a flag saying Project Request Form">
  </div>

  <div class="te container mx-auto px-4 text-gray-700 mt-10">
    <p>&nbsp;</p>
    <p>Anyway, so what? Well, we have that first step ready to go. Creatively titled the <a href="https://www.sport.wales/download/file/2218/" target="_blank" rel="noopener noreferrer" class="text-blue-500"><i>Project Request Form</i></a> (you won’t forget that in a hurry I bet), it does exactly what it says on the tin.</p>
    <p>Any projects seeking the support of the Digital and Service Design Team – or any tech and service developments included in the Business Plan – will need to start with the project request form.</p>
    <p>There are two points to highlight:</p>
    <ul class="list-disc pl-6">
      <li>The Project Request Form has its origins in Agile Project Management, meaning we embrace the commitment to the ways of working that have been employed with the Centre for Digital Public Services over the last year or two.</li>
      <li>The Project Request Form aligns to our <a href="https://www.sport.wales/digital-and-service-design/digital-and-service-design-principles/" class="text-blue-500">digital principles</a>. The core purpose being to establish the business case for the project, any user research, budgets, who will work on the project, and so on.</li>
    </ul>
    <p>Ultimately, the PRF is the very first step towards developing services that are fit-for-purpose for the long-term and that these services are designed based on what users actually need.</p>
    <p>Once the PRF business case is approved, the Digital and Service Design Team can support setting up a full project structure, safe in the knowledge that staff and budgets are in place.</p>
    <p>We’ll explain more as new projects progress and we make the first steps on some of our next tech and service developments. If you have any queries or would like to find out more, please get in touch.</p>
    <p>&nbsp;</p>
  </div>
</div>
{% endblock %}
