{% extends "base.njk" %}
{% block content %}
<div class="container mx-auto px-9 max-w-screen-xl mb-5">
    <h1 class="mt-20 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Oh DAM! The journey to effective Digital Asset Management.</h1>
    <p class="mt-2 mb-7 text-slate-500">{{ date }}</p>
    <div class="flex justify-left items-left mb-7">
        <img
            src="{{ profilePicture }}"
            alt="{{ author }}'s Picture"
            class="h-10 w-10 rounded-full bg-gray-50 mr-3">
        <h2 class="mt-2 text-slate-500">By {{author}}</h2>
    </div>

    <p class="mt-3">
    Faced with an ever-growing assortment of high-quality digital assets that includes images, videos, and documents, not only were the Digital and Communications team heading towards their maximum storage capacity, but they were also tackling inefficient searching and sorting assets with limited control management functionality.  The need for a more streamlined, efficient system to handle assets was long overdue which provided the <em>Digital Services and Design Team</em> an opportunity to assist and collaborate in finding a solution.
    </p>

    <div class="image-container mx-auto my-5">
        <img class="custom-image w-80 float-left mr-3" src="https://raw.githubusercontent.com/Sport-Wales/digital-team-site/main/assets/img/DAM-timeline-blog.jpg" alt="DAM project timeline">
    </div>

    <p class="mt-3">
        Taking time to identify the team’s user needs, recognising the current processes, and highlighting the preferred requirements are always the first steps of the Digital and Service Design Principles. Combined with agile project management the team were empowered to confidently research the market and scope options. Further principles and controls such as risk and dependency management, following a delivery plan and tracking progress reinforced transparency and innovation during the project.
    </p>

    <p class="mt-3"><strong><em>
        Ileana Bonnet, Marketing and Branding lead explains, “It was really helpful to go through an initial discovery with the Digital Team to understand the different ways we worked, what we thought was working that we’d like to maintain and what we would like to have if an ideal world that would make our day to day a bit easier.”</em></strong>
    </p>

    <p class="mt-3">
        The Digital and Communications team were actively involved in thoroughly reviewing available platforms, engaging in demonstrations, and ensuring that a range of essential, functional and technical requirements were met. The team opted for Resource Space as the Digital Asset Management cloud platform, and haven’t looked back since. From the initial kick off meeting, to bespoke workflow configuration and metadata customisation, Resource Space guided the team through to “go-live”. 
    </p>

    <p class="mt-3"><strong><em>
        “The DAM tool we’ve invested in has been brilliant so far. It gives us the flexibility to tailor it to a way the works best for us as a team, but also the ability to individualise it so we can use it in our preferred ways of working.”</em></strong>
    </p>

    <div class="image-container mx-auto my-5">
        <img class="custom-image w-80 float-right ml-3" src="https://raw.githubusercontent.com/Sport-Wales/digital-team-site/main/assets/img/DAM-software-blog.jpg" alt="DAM software image">
    </div>

    <p class="mt-3"> 
        Now users, both internal and external, can upload digital assets, use predefined tags and metadata, store media in searchable folders and manage access securely and effectively. Controls are in place to reduce duplication with a new process implemented to safeguard consent.
    </p>

    <div class="image-container mx-auto my-5">
        <img class="custom-image w-80 float-left mr-3" src="https://raw.githubusercontent.com/Sport-Wales/digital-team-site/main/assets/img/DAM-system-blog.png" alt="DAM software image">
    </div>
    
    <p class="mt-3"><strong><em>
        “For example, we can use the search function to find an image via the tagging system, or if we know it came from a particular project, we can dive into the folder structure to find it.”</em></strong>
    </p>

    <p class="mt-3">
        With the Digital and Communications team now migrating all pre-existing assets to Resource Space, Sport Wales now find themselves in a strong position when moving forward with branding
        marketing, and celebrating success. With ongoing support from Resource Space, the platform will evolve to where a wider userbase will benefit from organised digital assets.</p>
    
    <p class="mt-3"><strong><em>
        “I am very pleased with Resource Space – our account manager has been brilliant, always available and responds really quickly to any changes we want to make to the system.”</em></strong>
    </p>

    <p class="mt-3">
        Sport Wales, not a DAM problem when it comes to asset management.
    </p>
    
{% endblock %}