{% extends "base.njk" %}
{% block content %}
<div class="container mx-auto px-9 max-w-screen-xl mb-5">
    <h1 class="mt-20 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Defining the User Journey Process</h1>
    <p class="mt-2 mb-7 text-slate-500">{{ date }}</p>
    <div class="flex justify-left items-left mb-7">
        <img
            src="{{ profilePicture }}"
            alt="{{ author }}'s Picture"
            class="h-10 w-10 rounded-full bg-gray-50 mr-3">
        <h2 class="mt-2 text-slate-500">By {{author}}</h2>
    </div>
    <h2 class="mb-5 mt-9 text-3xl font-bold">What are user journeys?</h2>
    <p class="mt-3">
        User journeys, often referred to as customer journeys or user pathways, are a visual representation of the steps and experiences that a person goes through when interacting with a product, service, or system. These journeys aim to provide a holistic understanding of the user's perspective, starting from their initial contact with a product to the completion of a specific task or goal.
    </p>
    <p class="mt-3">
        There are two key types of user journey worth mentioning here:
    </p>
    <p class="mt-3">
        a. ‘As-is’ journeys: showing the current journey a user takes in interacting with a product, service, or system.
    </p>
    <p class="mt-3">b. ‘To-be’ journeys: showing the ideal, minimalist, and least complicated journey a user would take through our product, service, or system.</p>
    <h2 class="mb-5 mt-9 text-3xl font-bold">Why is it important to do user journeys?</h2>
    <p class="mt-3">
        User journeys offer valuable insights into the user's motivations, needs, pain points, and emotions at different touchpoints throughout their interaction. By mapping these journeys, we gain a clearer picture of the user's experience, which is essential for improving products or services and optimizing user experiences.
    </p>
    <h2 class="mb-5 mt-9 text-3xl font-bold">Do we always need to do user journeys?</h2>
    <p class="mt-3">
        In short, yes! We recommend that at the beginning of every project we begin to work on (whether it be reviewing a current product, service, or system, or, developing or purchasing a new one), that an ‘as-is’ journey be created.
    </p>
    <p class="mt-3">
        We also recommend that as the project develops maturity and insight is gathered, that ‘to-be’ journeys are also created, outlining the desired direction of travel.
    </p>
    <p class="mt-3">However, depending on the size and complexity of the project, it may not be necessary or appropriate to construct deep and intricate journeys by speaking to everyone involved. That being said, we do recommend that at least an appreciation of user’s experiences, perspectives, emotions, and pain-points have been considered.</p>
    <h2 class="mb-5 mt-9 text-3xl font-bold">What should user journeys include?</h2>
    <p class="mt-3">
        User journeys should encompass key components, condensing the user's experience into a comprehensive view. Begin with persona details to set the context. Break the journey into stages, detailing actions, touchpoints, emotions, and thoughts at each phase. Identify opportunities and pain points, specify channels and devices used, and note time and user goals. Including user feedback, if available, enriches the journey, providing insights essential for enhancing user experiences and making informed project decisions.
    </p>
    <p class="mt-3">
        What is also key in the way that the Digital & Service Design Team works is to map potential data protection risks (in both ‘as-is’ and ‘to-be’ user journeys. Doing so allows the development of new products, services, and systems to include the necessary steps and infrastructure to create both enjoyable and efficient experiences, as well as safe ones.
    </p>
    <h2 class="mb-5 mt-9 text-3xl font-bold">What is the process of creating and signing-off user journeys?</h2>
    <p class="mt-3">Ultimately, the user research lead will have sign-off on all user journeys across all products. However, to arrive at that conclusion, the user research will collaborate with projects stakeholders including customer (or user), business (e.g., staff) and Sport Wales DPO. Doing so will ensure that the final user journeys include the right source of information and detail, as well as holding true to the needs of the user, business, and data protection.</p>
    <p class="mt-3"><em>For more information or help in how to create and use user journeys, email <a href="mailto:steffan.berrow@sport.wales" class="hover:underline text-blue-500">Steff Berrow.</a></em></p>
</div>
{% endblock %}