{% extends "base.njk" %}
{% block content %}
  <div class="container mx-auto px-9 max-w-screen-xl">
    <h1 class="mt-20 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
      Take a giant leap… with one small step</h1>
    <p class="mt-2 mb-7 text-slate-500">{{ date }}</p>
    <div class="flex justify-left items-left mb-7">
      <img src="{{ profilePicture }}" alt="{{ author }}'s Picture" class="h-10 w-10 rounded-full bg-gray-50 mr-3">
        <h2 class="mt-2 text-slate-500">By {{ author }}</h2>
      </div>
      <p class="mt-3">
        Landing the Eagle module on the Moon must have been terrifying in itself, with a step onto the Sea of
          Tranquillity the next giant leap of Neil Armstrong’s place in history.
      </p>
      <p class="mt-3">Apparently, Armstrong was nervous. Not about dying or never seeing his family again – but about failing
        his mission.</p>
      <p class="mt-3">I wonder if the nerves would have gone up a notch if he’d been shown the developments in technology in
        years to come compared to what was powering Apollo 11 back in 1969.</p>
      <p class="mt-3">It’s a theme we see at Sport Wales when it comes to technology. Many of us are reluctant to take the
        first step for fear of too giant a leap.</p>
      <p class="mt-3">Things like time, understanding, budget, knowledge, and more being cited as reasons to keep with the
        status quo.</p>
      <p class="mt-3">On the opposite side, we (<a href="https://www.sport.wales/digital-and-service-design/" class="text-blue-500">
          the Digital and Service Design Team</a>
        ) need to communicate and engage with you more and be seen as a supporter, rather than putting up more hurdles than
        would be enough for Colin Jackson to negotiate (I’m starting to show my age with the references in this blog).</p>
  <img
    class="custom-image rounded-lg my-5"
    src="https://www.sport.wales/images/custom/58/9c32d5c770ec15e4a06cab3f266411/w1050/h588/fx28.9/fy21.7/wpojpg/images/uploads/589c32d5c770ec15e4a06cab3f266411.webp"
    alt="Neil Armstrong on the moon with a flag saying Project Request Form">
  <p class="mt-3">&nbsp;</p>
  <p class="mt-3">Anyway, so what? Well, we have that first step ready to go. Creatively titled the
    <a href="https://www.sport.wales/download/file/2218/" target="_blank" rel="noopener noreferrer" class="text-blue-500">
      <i>Project Request Form</i>
    </a>
    (you won’t forget that in a hurry I bet), it does exactly what it says on the tin.</p>
  <p class="mt-3">Any projects seeking the support of the Digital and Service Design Team – or any tech and service
    developments included in the Business Plan – will need to start with the project request form.</p>
  <p class="mt-3">There are two points to highlight:</p>
  <ul class="list-disc pl-6">
    <li>The Project Request Form has its origins in Agile Project Management, meaning we embrace the commitment to the ways
      of working that have been employed with the Centre for Digital Public Services over the last year or two.</li>
    <li>The Project Request Form aligns to our
      <a
        href="principles.html"
        class="text-blue-500">digital principles</a>. The core purpose being to establish the business case for the project, any
        user research, budgets, who will work on the project, and so on.</li>
  </ul>
  <p class="mt-3">Ultimately, the PRF is the very first step towards developing services that are fit-for-purpose for the
    long-term and that these services are designed based on what users actually need.</p>
  <p class="mt-3">Once the PRF business case is approved, the Digital and Service Design Team can support setting up a
    full project structure, safe in the knowledge that staff and budgets are in place.</p>
  <p class="mt-3">We’ll explain more as new projects progress and we make the first steps on some of our next tech and
    service developments. If you have any queries or would like to find out more, please get in touch.</p>
  <p class="mt-3">&nbsp;</p>
</div>
{% endblock %}