{% extends "base.njk" %}
{% block content %}
  
<div class="container mx-auto px-9 max-w-screen-xl">
    <h1 class="my-20 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Developers</h1>
    <div class="flex">
        <!-- Sidebar -->
        <div class="bg-gray-300 text-black p-6 w-1/4 mt-5">
            <ul>
                <li class="mb-2">
                    <a href="#intro" class="sidebar-link">Introduction</a>
                </li>
                <li class="mb-2">
                    <strong>Technologies</strong>
                </li>
                <li class="mb-2">
                    <a href="#nunjucks" class="sidebar-link ml-3">Nunjucks</a>
                </li>
                <li class="mb-2">
                    <a href="#bootstrap" class="sidebar-link ml-3">Bootstrap</a>
                </li>
                <li class="mb-2">
                    <a href="#git" class="sidebar-link ml-3">Git</a>
                </li>
                <li class="mb-2">
                    <a href="#bootstrap" class="sidebar-link ml-3">GitHub</a>
                </li>
                <li class="mb-2">
                    <a href="#tailwind" class="sidebar-link ml-3">Tailwind CSS</a>
                </li>
                <li class="mb-2">
                    <a href="#nodejs" class="sidebar-link ml-3">Node.js</a>
                </li>
                <li class="mb-2">
                    <a href="#jquery" class="sidebar-link ml-3">jQuery</a>
                </li>
                <li class="mb-2">
                    <a href="#vscode" class="sidebar-link ml-3">VSCode</a>
                </li>
                <li class="mb-2">
                    <a href="#pip" class="sidebar-link ml-3">pip</a>
                </li>
                <li class="mb-2">
                    <strong>Brand and Style</strong>
                </li>
                <li class="mb-2">
                    <a href="#brand" class="sidebar-link ml-3">Brand Guidelines</a>
                </li>
                <li class="mb-2">
                    <a href="#figma" class="sidebar-link ml-3">Using Figma</a>
                </li>
                <li class="mb-2">
                    <a href="#assets" class="sidebar-link ml-3">Logos and Assets</a>
                </li>
                <li class="mb-2">
                    <a href="#coding-conventions" class="sidebar-link ml-3">Coding Conventions</a>
                </li>
                <li class="mb-2">
                    <strong>Documentation</strong>
                </li>
                <li class="mb-2">
                    <a href="#readme" class="sidebar-link ml-3">README.md template</a>
                </li>
                <li class="mb-2">
                    <a href="#license" class="sidebar-link ml-3">LICENSE template</a>
                </li>
            </ul>
        </div>

        <!-- Content Area -->
        <div class="p-6 w-3/4">
            <div id="intro" class="introduction-area">
                <h2 class="text-3xl font-bold mb-4">How to use this page</h2>
                <p class="mb-3">This portion of the website is intended for technicians. It offers best practice, guides, and resources.</p>
                <p class="mb-3">Begin by selecting the menu item of any topic you wish to explore.</p>
            </div>
            <div id="nunjucks" class="content-area">
                <h2 class="text-3xl font-bold mb-4">Nunjucks</h2>
                <p class="mb-3">It's a JavaScript-based templating language that speeds up production of HTML pages. Using Nunjucks gives us the advantage of faster production and only changing repeated HTML elements once.</p>
                <p class="mb-3">You can view <a class="text-blue-500 hover:underline" href="https://mozilla.github.io/nunjucks/" target="blank">the documentation for Nunjucks online</a> and <a class="text-blue-500 hover:underline" href="https://mozilla.github.io/nunjucks/templating.html" target="blank">templating guides.</a> The <a class="text-blue-500 hover:underline" href="https://jinja.palletsprojects.com/en/3.1.x/templates/#" target="blank">documentation for jinja2</a> (which Nunjucks is closely based on) is also helpful. Below has set up instructions:</p>
                <h3 class="text-2xl font-bold my-4">Requirements</h3>
                <p class="mb-3">1. <strong>Node package manager (npm) </strong>- Gitpod should already have npm. If you run into trouble, visit the <a class="text-blue-500 hover:underline" href="https://www.npmjs.com/" target="blank">npm documentation</a> for installation guidance.</p>
                <p class="mb-3">2. <strong>Nunjucks node package</strong>- There are alternative ways of installing Nunjucks, but this is the easiest (see step 1 below).</p>
                <h3 class="text-2xl font-bold my-4">Steps</h3>
                <h4 class="text-1xl font-bold my-4">Install Nunjucks using Node (after making sure you have NodeJS installed)</h4>
                <p class="mb-3">In your IDE's terminal, run this command to install nunjucks:</p>
                <div class="code-container relative bg-gray-900 text-white mt-5 mb-3">
                    <button class="copy-code-btn absolute top-2 right-2 px-2 py-1 bg-blue-500 text-white rounded">Copy</button>
                    <pre>
                        <code class="language-html">
                            <xpm>
$ npm install nunjucks
                            </xmp>
                        </code>
                    </pre>
                </div>
                <p class="mb-3">This will install the necessary packages which will create a create a new directory in your root, 'node_modules', it's best practice to add this directory to your .gitignore file for commits (but make sure you keep a copy for your own local development). Two .json files will also be created - keep these in your directory so developers can see what our dependencies are.</p>
                <h4 class="text-1xl font-bold my-4">Create a templates directory at your root and a base.njk file inside</h4>
                <p class="mb-3">This file (templates/base.njk) will function as our base template from which all other templates will 'extend'. Here is an example of a base.njk file:</p>
                <div class="code-container relative bg-gray-900 text-white mt-5 mb-3">
                    <button class="copy-code-btn absolute top-2 right-2 px-2 py-1 bg-blue-500 text-white rounded">Copy</button>
                    <pre>
                        <code class="language-html">
                            <xmp>
<!-- ignore 'raw' tag here - purely so the code can render on this page correctly, remove it when you're using this code... -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add your common meta tags, stylesheets, and scripts here -->
    <!-- pageTitle is a variable that you can use to set the title of pages -->
    <title>{{ pageTitle }}</title>
</head>
<body>
    <header>
        <!-- Your header content here -->
    </header>
    <main>
        
        <!-- block 'content' is what we will 'fill' with our other templates -->
        {% block content %}{% endblock %}
        
    </main>
    <footer>
        <!-- Your footer content here -->
    </footer>
</body>
</html>

                            </xmp>
                        </code>
                    </pre>
                </div>
                <h4 class="text-1xl font-bold my-4">Create child templates</h4>
                <p class="mb-3">So for each page, e.g. funding, booking, etc, we'll create Nunjuck templates using the .njk file extension. These templates extend the base template. For example, this could be index.njk:</p>
                <div class="code-container relative bg-gray-900 text-white mt-5 mb-3">
                    <button class="copy-code-btn absolute top-2 right-2 px-2 py-1 bg-blue-500 text-white rounded">Copy</button>
                    <pre>
                        <code class="language-html">
                            <xmp>
<!-- ignore 'raw' tag here - purely so the code can render on this page correctly, remove it when you're using this code... -->

{% extends "base.njk" %}

{% block content %}
    <h1>Welcome to Sport Wales Portal</h1>
    <p>This is the home page!</p>
{% endblock %}

                            </xmp>
                        </code>
                    </pre>
                </div>
                <h4 class="text-1xl font-bold my-4">Render the templates</h4>
                <p class="mb-3">Create a JavaScript file, the example below is a simplified and expanded version of what is currently in ./js/nunjucks.js file:</p>
                <div class="code-container relative bg-gray-900 text-white mt-5 mb-3">
                    <button class="copy-code-btn absolute top-2 right-2 px-2 py-1 bg-blue-500 text-white rounded">Copy</button>
                    <pre>
                        <code class="language-javascript">
                            <xmp>
const nunjucks = require('nunjucks');
const fs = require('fs');

// Configure Nunjucks to load templates from a directory (adjust this path)
nunjucks.configure('./templates', { autoescape: true });

// Define variables for your templates
const context = {
    pageTitle: 'Sport Wales Portal',
    // Add any other variables needed for your templates
};

// Render the template (replace 'index.njk' with the desired page)
const output = nunjucks.render('index.njk', context);

// Write the rendered HTML to a file or insert it into your web page
fs.writeFileSync('output.html', output);
                            </xmp>
                        </code>
                    </pre>
                </div>
                <h4 class="text-1xl font-bold my-4">Run the JavaScript file</h4>
                <p class="mb-3">Simply run the nunjucks.js file to run the file and write the HTML pages:</p>
                <div class="code-container relative bg-gray-900 text-white mt-5 mb-3">
                    <button class="copy-code-btn absolute top-2 right-2 px-2 py-1 bg-blue-500 text-white rounded">Copy</button>
                    <pre>
                        <code class="language-javascript">
                            <xmp>
$ node js/nunjucks.js
                            </xmp>
                        </code>
                    </pre>
                </div>
                <h4 class="text-1xl font-bold my-4">Top tips</h4>
                <p class="mb-3">You'll find that in your IDE you may lose syntax highlighting in your .njk compared to your regular HTML files. There is a VSCode extension called 'Nunjucks Template' that fix this for you.</p>
            </div>



            <div id="bootstrap" class="content-area">
                <h2 class="text-3xl font-bold mb-4">Bootstrap</h2>
                <p class="mb-3">This is the Usage content.</p>
            </div>

            <!-- FOR ANSELM -->
            <div id="brand" class="content-area">
                <h2 class="text-3xl font-bold mb-4">Branding Guidelines</h2>

    <div class="space-y-4">

       
        <h3 class="text-2xl font-bold my-4">Primary Logo Usage</h3>
        <p class="mb-3">The Sport Wales logo is designed using a custom-made typeface. The primary form should appear on a flat-colored background. For white backgrounds or images, a secondary black and white version may be used.</p>
        <img src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/assets/img/sport-wales-colour-logo.png?raw=true" class="mr-3" style="height: 10.4rem; width: 22.6rem; margin: 30px" alt="Sport Wales Logo"/>
      
        <h3 class="text-2xl font-bold my-4">Logo Variations</h3>
        <ul class="list-decimal pl-8">
            <li><strong>Black and White:</strong> Can be used in cases of technical or budgetary constraints.</li>
            <li><strong>Clear Zone:</strong> Preserve the clear zone around the logos equal to the height of the letterforms.</li>
        </ul>

       
        <h3 class="text-2xl font-bold my-4">Size and Spacing</h3>
        <ul class="list-decimal pl-8">
            <li><strong>Recommended size on an A4 document:</strong> 40mm wide.</li>
            <li><strong>Minimum spacing on web pages:</strong> 30 pixels between the logo and other elements.</li>
        </ul>

    
        <h3 class="text-2xl font-bold my-4">Restrictions</h3>
        <ul class="list-decimal pl-8">
            <li>Do not stretch, skew, or distort the logo.</li>
            <li>Proportions must always remain constant.</li>
            <li>Do not use a different typeface to recreate the logo.</li>
        </ul>

    </div>

    <!-- Our Colors -->
    <h2 class="text-3xl font-bold mb-4 mt-8">Our Colors</h2>

    <div class="space-y-4">

        <!-- Sport Wales Red -->
        <div class="flex items-center space-x-4">
            <div class="w-8 h-8 bg-red-500" style="background-color: #E32434 ;"></div>
            <ul class="list-disc pl-8">
                <li><strong>RGB:</strong> 227, 36, 52</li>
                <li><strong>Hex:</strong> #E32434</li>
                <li><strong>Pantone:</strong> 192C</li>
            </ul>
        </div>

        <!-- Sport Wales Navy -->
        <div class="flex items-center space-x-4 mt-4">
            <div class="w-8 h-8" style="background-color: #164B64 ;"></div>
            <ul class="list-disc pl-8">
                <li><strong>RGB:</strong> 22, 75, 100</li>
                <li><strong>Hex:</strong> #164B64</li>
                <li><strong>Pantone:</strong> 2210C</li>
            </ul>
        </div>

        <!-- Sport Wales Yellow -->
        <div class="flex items-center space-x-4 mt-4">
            <div class="w-8 h-8" style="background-color: #F6B207 ;"></div>
            <ul class="list-disc pl-8">
                <li><strong>RGB:</strong> 77, 17, 78</li>
                <li><strong>Hex:</strong> #F6B207</li>
                <li><strong>Pantone:</strong> 1365C</li>
            </ul>
        </div>

    <!-- Sport Wales Grey -->
    <div class="flex items-center space-x-4 mt-4">
        <div class="w-8 h-8 " style="background-color: #807E8B ;" ></div>
        <ul class="list-disc pl-8">
            <li><strong>RGB:</strong> 38, 86, 163</li>
            <li><strong>Hex:</strong> #807E8B</li>
            <li><strong>Pantone:</strong> 444C</li>
        </ul>
    </div>

    </div>

    <!-- Primary Typography Set -->
    <h2 class="text-3xl font-bold mb-5 mt-8">Primary Typography</h2>

    <div class="space-y-4">

        <!-- Fonts -->
        <h3 class="text-2xl font-bold my-4">Fonts</h3>
        <div class="space-y-2">
            <div class=" text-xl">Objektive MK1 - <p class="font-objektive-mk1 font-bold italic text-xl" style="display: inline;">Black Italic: Titles & Subtitles  </p></div>
            <div class="font-objektive-mk1 text-xl">Objektive MK1 - Regular: Body</div>
            <div class="text-xl">Montserrat - <p class="font-montserrat font-bold italic text-xl" style="display: inline;"> Black Italic: Titles & Subtitles (Secondary Typeface) </p></div>
            <div class="font-montserrat text-xl">Montserrat - Regular: Body</div>
        </div>

       

        <!-- Online Guidelines -->
        <h3 class="text-2xl font-bold my-4 mt-8">Online Guidelines</h3>
        <ul class="list-decimal pl-8">
            <li><strong>For online content,</strong> use font size 35 for titles and size 14 for body text.</li>
            <li><strong>Body copy, </strong> should not exceed 85% - 95% black.=</li>
        </ul>

         <!-- Usage Guidelines -->
         <h3 class="text-2xl font-bold my-4">Usage Guidelines</h3>
         <ul class="list-decimal pl-8">
             <li><strong>In printed documents,</strong> use font size 30 for page titles in any Sport Wales color.</li>
             <li><strong>Section titles, </strong> should be font size 14.</li>
             <li><strong>Body text,</strong> should appear between sizes 10 and 14 points, not exceeding 85% - 95% black.</li>
         </ul>

    </div>

   

            </div>


            <div id="figma" class="content-area">
                <h2 class="text-3xl font-bold mb-4">Using Figma</h2>
                <p class="mb-3">Figma is a powerful cloud-based design tool that simplifies the collaborative design process. Whether you're working on user interfaces, prototypes, or design systems, Figma provides a seamless platform for creating, sharing, and iterating on designs in real-time.</p>
                <p class="mb-3">In this documentation, we'll explore key aspects of Figma, from creating projects to efficient navigation, collaboration features, and sharing design assets with your team and clients.</p>
 

    <div class="space-y-4">

        <!-- Creating a Figma Account -->
        <h3 class="text-2xl font-bold my-4">Creating a Figma Account:</h3>
        <p class="mb-3">When creating a Figma account, please ensure to use your Sport Wales email account.</p>

        <!-- Creating a New Project or File -->
        <h3 class="text-2xl font-bold my-4">Creating a New Project or File:</h3>
        <p class="mb-3">To create a new project in Figma, follow these steps:</p>
        <ol class="list-decimal pl-8">
            <li>Log in to your Figma account.</li>
            <li>Click on the "+" icon to start a new file.</li>
            <li>Choose from templates or start from scratch.</li>
        </ol>

        <!-- Navigating Figma Efficiently -->
        <h3 class="text-2xl font-bold my-4">Navigating Figma Efficiently:</h3>
        <p class="mb-3">Efficient navigation in Figma involves the following:</p>
        <ul class="list-disc pl-8">
            <li><strong>Toolbar:</strong> Use the toolbar for various actions.</li>
            <li><strong>Layers and Properties Panel:</strong> Explore the layers and properties panel for elements.</li>
            <li><strong>Keyboard Shortcuts:</strong> Utilize keyboard shortcuts for quick commands.</li>
        </ul>

        <!-- Key Features and Capabilities -->
        <h3 class="text-2xl font-bold my-4">Key Features and Capabilities:</h3>
        <p class="mb-3">Figma is a collaborative design tool with the following key features:</p>
        <ul class="list-disc pl-8">
            <li>Creating, prototyping, and sharing designs in real-time.</li>
            <li>Operating in the cloud, allowing seamless collaboration and access from different devices.</li>
        </ul>

        <!-- Collaboration in Figma -->
        <h3 class="text-2xl font-bold my-4">Collaboration in Figma:</h3>
        <p class="mb-3">Figma enables collaboration through Teams and Projects:</p>
        <ul class="list-disc pl-8">
            <li><strong>Teams:</strong> Groups of users.</li>
            <li><strong>Projects:</strong> Containers for files.</li>
            <li>Team members can work simultaneously in the same file.</li>
        </ul>

        <!-- Simultaneous Work in Figma -->
        <h3 class="text-2xl font-bold my-4">Simultaneous Work in Figma:</h3>
        <p class="mb-3">Figma excels in enabling teams to collaborate seamlessly by allowing multiple users to work concurrently on the same design file. This real-time collaboration feature transforms the design process by facilitating:</p>

        <ul class="list-decimal pl-8">
            <li><strong>Instant Updates:</strong> Any change made by one team member is instantly visible to others. This eliminates version control issues and ensures everyone is on the same page.</li>
            <li><strong>Efficient Communication:</strong> Designers can communicate within the context of the design, leaving comments and suggestions directly on the elements, frames, or prototypes.</li>
        </ul>

        <!-- Sharing Designs -->
        <h3 class="text-2xl font-bold my-4">Sharing Designs:</h3>
        <p class="mb-3">Designs in Figma can be shared using the following steps:</p>
        <ol class="list-decimal pl-8">
            <li>Click on the "Share" button.</li>
            <li>Invite team members or generate shareable links for clients.</li>
            <li>Adjust permissions for viewing or editing access.</li>
        </ol>

        <!-- Our Teams Folder -->
        <h3 class="text-2xl font-bold my-4">Our Teams Folder:</h3>
        <p class="mb-3">Our Teams folder is named <strong>'Sport Wales X Cardiff Met Digital Dream Team'</strong>. In this folder, we organize all our current projects, designs, workflows, and resources.</p>
        <p>An invitation will be sent to join the Teams folder if not already received.</p>

    </div>

    <!-- Figma Frame -->
    <div class="space-y-4 mt-8">
        <h3 class="text-2xl font-bold my-4">Design System</h3>
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="1000" height="650" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FRgCCSQDfPGughHomwQobDF%2FPortal-design-system%3Ftype%3Ddesign%26node-id%3D0%253A1%26mode%3Ddesign%26t%3DrSF7ZxHsOqvekkH8-1" allowfullscreen></iframe>

    </div>
   
            </div>



            <div id="coding-conventions" class="content-area">
                <h2 class="text-3xl font-bold mb-4">Coding Conventions</h2>
                <p class="mb-3">This is a general best practice guide to how we write and style our codebases for projects.</p>
                <h3 class="text-2xl font-bold my-4">Language</h3>
                <p class="mb-3">Use British English in your code, comments, and documentation.</p>
                <h3 class="text-2xl font-bold my-4">Indentation</h3>
                <p class="mb-3">Use 2 spaces for indentation.</p>
                <p class="mb-3">Ensure consistent indentation style across the project.</p>
                <h3 class="text-2xl font-bold my-4">Line endings</h3>
                <p class="mb-3">Use LF (Line Feed) line endings.</p>
                <h3 class="text-2xl font-bold my-4">Trailing whitespace</h3>
                <p class="mb-3">Remove trailing whitespace from your code files.</p>
                <p class="mb-3">Exception: In Markdown files, you can leave trailing whitespace for better control of line breaks.</p>
                <h3 class="text-2xl font-bold my-4">Recommended Extensions</h3>
                <p class="mb-3">The following VSCode extensions are recommended for most of our projects:</p>
                <ul class="list-disc ml-8">
                    <li class="mb-3"><a class="text-blue-500 hover:underline" href="https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode" target="blank">Prettier</a>: For code formatting</li>
                    <li class="mb-3"><a class="text-blue-500 hover:underline" href="https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint">ESLint:</a> For code linting and static analysis</li>
                    <li class="mb-3"><a class="text-blue-500 hover:underline" href="https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig">EditorConfig:</a> To maintain consistent coding styles across different editors</li>
                    <li class="mb-3"><a class="text-blue-500 hover:underline" href="https://marketplace.visualstudio.com/items?itemName=ms-vscode.live-server">Live Preview:</a> For quickly viewing rendered HTML files without needing to start up a server</li>
                    <li class="mb-3"><a class="text-blue-500 hover:underline" href="https://marketplace.visualstudio.com/items?itemName=ginfuru.better-nunjucks">Better Nunjucks:</a> For additional Nunjucks syntax highlighting (note: you may need to adjust settings to achieve this)</li>
                    <li class="mb-3"><a class="text-blue-500 hover:underline" href="https://marketplace.visualstudio.com/items?itemName=tomoki1207.pdf">vscode-pdf:</a> Simple helper extension for viewing PDFs within your IDE</li>
                </ul>
                <h3 class="text-2xl font-bold my-4">Setting up your Development Environment</h3>
                <p class="mb-3">1. Clone the project repository from GitHub.</p>
                <p class="mb-3">2. Install Node.js and npm if not already installed.</p>
                <p class="mb-3">3. Install Visual Studio Code if not already installed.</p>
                <p class="mb-3">4. Install the recommended extensions mentioned in the section above.</p>
                <p class="mb-3">5. Open the project folder in Visual Studio Code.</p>
                <p class="mb-3">6. Ensure that the .editorconfig file and workspace-specific settings in .vscode/settings.json are being respected by your editor.</p>
                <h3 class="text-2xl font-bold my-4">Version control</h3>
                <p class="mb-3">Use Git for version control.</p>
                <p class="mb-3">Like rain on the one day you've forgotten an umbrella, <strong>merge conflicts will happen.</strong> Keep calm and let your colleagues know and we'll work together to sort it.</p>
                <p class="mb-3">Commit your changes often, and regularly check the status of your git history.</p>
                <p class="mb-3">Before working on a repository, check the git status to see whether you need to pull any changes or not.</p>
                <p class="mb-3">Keep the .editorconfig, .vscode/settings.json, and other configuration files under version control to maintain consistency across the team.</p>
                <h3 class="text-2xl font-bold my-4">Documentation</h3>
                <p class="mb-3">Keep project documentation up to date in the docs/ directory of your project.</p>
                <p class="mb-3">Use Markdown for documentation.</p>
                <p class="mb-3">Document code changes, project structure, and usage instructions for developers and users.</p>
                <h3 class="text-2xl font-bold my-4">Code Reviews</h3>
                <p class="mb-3">Before merging code, ensure it adheres to the coding conventions and passes linting and formatting checks.</p>
                <p class="mb-3">Conduct code reviews to maintain code quality and consistency.</p>
                <h3 class="text-2xl font-bold my-4">Testing</h3>
                <p class="mb-3">Write unit tests and integration tests for your code.</p>
                <p class="mb-3">Ensure that tests are passing before merging code changes.</p>
                <h3 class="text-2xl font-bold my-4">Security</h3>
                <p class="mb-3">Follow security best practices to protect the project and its users.</p>
                <p class="mb-3">Make sure to follow all downloading and installation procedure as set by Technology Solutions within Sport Wales.</p>
                <h3 class="text-2xl font-bold my-4">Licensing</h3>
                <p class="mb-3">Check the project's licensing terms and ensure compliance with open-source licenses.</p>
            </div>


            <div id="readme" class="content-area">
                <h2 class="text-3xl font-bold mb-4">README.md</h2>
                <p class="mb-3">A 'README.md' file is a document written in a Markdown format that serves as the introductory and instructional document for software projects.</p>
                <p class="mb-3">It's good practice to place this at the root of the project's repository on GitHub.</p>
                <p class="mb-3">We will include a README.md file in our projects so that future developers will know why a project was created, any installation information, and how the project was intended to be run.</p>
                <h3 class="text-2xl font-bold my-4">Template</h3>
                <p class="mb-3">You can copy and paste this markdown template into your project:</p>
                <div class="code-container relative bg-gray-900 text-white mt-5">
                    <button class="copy-code-btn absolute top-2 right-2 px-2 py-1 bg-blue-500 text-white rounded">Copy</button>
                    <pre>
                        <code class="language-html">
                            <xpm>
# Title of project

Description of project

## Technologies

Brief description of the technology used, e.g. React/Nunjucks/etc 

## Installation

If this project needs to be installed, place documentation here

## Dependencies

- List any and all dependencies (e.g. packages, third-party software) that the project relies upon here

## Deployment

If the project is deployed, place the URL here

## License

[![License: MIT](https://img.shields.io/badge/License-MIT-yellow.svg)](https://opensource.org/licenses/MIT)

                            </xmp>
                        </code>
                    </pre>
                </div>
                <p>Alternatively, the template is available on <a href="https://github.com/Sport-Wales/template/tree/main">GitHub</a>.</p>
            </div>

            <div id="license" class="content-area">
                <h2 class="text-3xl font-bold mb-4">LICENSE</h2>
                <p class="mb-3">A LICENSE file is a document at the root of your repository that communicates the terms under which others can use, modify, and distribute your code.</p>
                <p class="mb-3">At Sport Wales, all of our projects use the MIT License which is a permissive open-source license that allows other users to do anything they like with the code, as long as they include the original copyright and license notice in any copy or portion of the software.</p>
                <p class="mb-3">Following the example of the Government Digital Service, we use this license as it allows with our principles of openness and collaboration.</p>
                <h3 class="text-2xl font-bold my-4">Template</h3>
                    <p class="mb-3">You can copy and paste this markdown template into your project:</p>
                    <div class="code-container relative bg-gray-900 text-white mt-5">
                        <button class="copy-code-btn absolute top-2 right-2 px-2 py-1 bg-blue-500 text-white rounded">Copy</button>
                        <pre>
                            <code class="language-html">
                                <xpm>
MIT License

Copyright (c) 2024 Sport Wales

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
                                </xpm>
                            </code>
                        </pre>
                    </div>
                    <p>Alternatively, the template is available on <a href="https://github.com/Sport-Wales/template/tree/main">GitHub</a>.</p>
                </div>
            </div> 
        </div> <!-- end of content block -->
    </div> <!-- end of flex -->

    

    <!-- JavaScript -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const sidebarLinks = document.querySelectorAll('.sidebar-link');

            sidebarLinks.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();

                    const targetContentId = this.getAttribute('href').substring(1);

                    document.querySelectorAll('.content-area').forEach(content => {
                        content.style.display = 'none';
                    });
                    document.querySelectorAll('.introduction-area').forEach(content => {
                        content.style.display = 'none';
                    });

                    document.getElementById(targetContentId).style.display = 'block';
                });
            });

            document.querySelectorAll('.copy-code-btn').forEach(function (button) {
                button.addEventListener('click', function () {
                    var codeBlock = this.closest('.code-container').querySelector('code');
                    var codeText = codeBlock.innerText;

                    navigator.clipboard.writeText(codeText)
                        .then(function () {
                            alert('Code copied to clipboard!');
                        })
                        .catch(function (err) {
                            console.error('Unable to copy code', err);
                        });
                });
            });
        });
    </script>

    <!-- Your custom styles -->
    <style>
        .content-area {
            display: none;
        }

        pre {
            overflow: auto;
            white-space: pre-wrap;
            padding: 10px;
        }

        .code-container {
            border-radius: 10px;
        }
    </style>


{% endblock %}