{% extends "base.njk" %}
{% block content %}
<div class="container mx-auto px-9">
    <h1 class="my-20 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Glossary</h1>
{% for gloss in glossary %}
<h2>{{ gloss.term }}</h2>
<p>{{ gloss.definition }}</p>
{% endfor %}
</div>
{% endblock %}