{% extends "base.njk" %}
{% block content %}
    <!-- HERO SECTION -->
    <section class="bg-white dark:bg-gray-900">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
                    Digital and Service Design Team Site</h1>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                    A one-stop-shop for information about the Digital and Service Design Team and how to work with us.</p>
                <a
                    href="mailto:DigitalandServiceDesignTeam@sport.wales"
                    class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r
                        from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300
                        dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 mt-6 text-lg">
                    Contact us
                </a>
            </div>
            <div class=" lg:mt-0 lg:col-span-5 lg:flex">
                <img src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/dist/img/home-hero.webp?raw=true" alt="mockup">
            </div>
        </div>
    </section>
        <!-- BLOG PREVIEW -->
        <!-- index.njk -->
    <style>
        .principle-card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            color: white;
        }
    </style>
{% endblock %}