{% extends "base.njk" %}
{% block content %}
    <!-- HERO SECTION -->
    <section class="bg-white dark:bg-gray-900">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
                    Digital and Service Design Team Site</h1>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                    A one-stop-shop for information about the Digital and Service Design Team and how to work with us.</p>
                <a
                    href="mailto:DigitalandServiceDesignTeam@sport.wales"
                    class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r
                        from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300
                        dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 mt-6 text-lg">
                    Contact us
                </a>
            </div>
            <div class=" lg:mt-0 lg:col-span-5 lg:flex">
                <img src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/dist/img/home-hero.webp?raw=true" alt="mockup">
            </div>
        </div>
    </section>
       <!-- resources: -->
       <div class="container mx-auto px-9 max-w-screen-xl mb-10">

            <div class="bg-white">
                <div class="mx-auto px-6 lg:px-8 mb-10">
                    <div class="bg-white">
                        <div class="grid grid-cols-3 gap-10">
                            <!-- Support -->
                            <div class="bg-gray-200 shadow-xl col-span-5 sm:col-span-2 lg:col-span-1 bg-gray-100
                             p-4 rounded-lg relative transition-transform duration-300 transform scale-100 
                             hover:scale-105 principle-card pb-8 flex flex-col justify-center">
                                <div class="secondary">
                                    <h2 class="text-2xl font-semibold my-5 ml-4">Access our support</h2>
                                </div>
                                <div class="secondary">
                                    <p class="duration-300 mb-6 ml-4">
                                        Get to know our process for offering support, guidance, or technical skills:
                                    </p>
                                </div>
                                <div class="secondary mb-5">
                                    <a
                                        href="support.html"
                                        class="my-5 mb-10 ml-4 card-blog-btn px-3 py-2 text-sm font-medium text-center 
                                        text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-md me-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                                        How we offer support
                                    </a>
                                </div>
                            </div>
                            <!--Resources -->
                            <div class="bg-gray-200 shadow-xl col-span-5 sm:col-span-2 lg:col-span-1 bg-gray-100 p-4 rounded-lg relative transition-transform duration-300 transform scale-100 hover:scale-105 principle-card pb-8">
                                <h2 class="text-2xl font-semibold my-5 ml-4">Use our resources</h2>
                                <p class="duration-300 mb-6 ml-4">
                                    We've collected the most important project tools we use and collated them for you to download:
                                </p>
                                <div class="secondary mb-5">
                                    <a
                                        href="agile-tools.html"
                                        class="my-5 mb-10 ml-4 card-blog-btn px-3 py-2 text-sm font-medium text-center 
                                        text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-md me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                                        Download resources
                                    </a>
                                </div>
                                
                            </div>
                            <!-- Blogs -->
                            <div class="bg-gray-200 shadow-xl   col-span-5 sm:col-span-2 lg:col-span-1 bg-gray-100 p-4 rounded-lg relative transition-transform duration-300 transform scale-100 hover:scale-105 principle-card pb-8">
                                <h2 class="text-2xl font-semibold my-5 ml-4">Read our blogs</h2>
                                <!-- Other card content -->
                                <p class="duration-300 mb-6 ml-4">
                                    We write blogs about our projects and what we've learnt from them:
                                </p>
                                <div class="secondary mb-5">
                                    <a
                                        href="blogs.html"
                                        class="my-5 mb-10 ml-4 card-blog-btn px-3 py-2 text-sm font-medium text-center 
                                        text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-md me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                                        Read blogs
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}