{% extends "base.njk" %}
{% block content %}
<div class="container mx-auto px-9 max-w-screen-xl mb-5">
    <h1 class="my-20 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Online Project Request Form</h1>
    <iframe class="mt-3 w-full" height="900px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=fg8zL6kBdkih0t5z5One2G-R3GqziGNCtcsrg6tH_tdUNUxITTcyMVBBNDYyMUE2NTNYNVdQTFRNSi4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
</div>
{% endblock %}