{% extends "base.njk" %}
{% block content %}
<div class="container mx-auto px-9 max-w-screen-xl">
    <h1 class="mt-20 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Privacy Policy</h1>
    <h2 class="text-3xl font-bold mb-4">Cookies</h2>
    <p class="mb-3">This website does not use any cookies. No personable or identifiable data is collected.</p>
    <h2 class="text-3xl font-bold mb-4">Links to other websites</h2>
    <p class="mb-3">Please note that this privacy policy only covers this website and not any websites that you visit from here.</p>
</div>
{% endblock %}