{% extends "base.njk" %}
{% block content %}
<div class="container mx-auto px-9 max-w-screen-xl mb-5 mb-5">
        <h1 class="my-20 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Our Projects</h1>
		<div class="projects-txt">
			<p class="mt-3">
				We work to a roadmap, which means we plan current and future workloads whilst also considering new project requests that are sent to us.
			</p>
			<p class="mt-3">
				The projects on our roadmap are at different stages and we have varying degrees of involvement.
			</p>
			<p class="mt-3">
				Most importantly, we look to support projects in a way that mean they are delivered successfully and meet our Digital Principles.
			</p>
			<p class="mt-3">
				Here’s a snapshot of the projects on our roadmap.
			</p>
		</div>
	<h2 class="text-3xl font-bold my-4">Our 2024-25 Projects</h2>
	<!-- Project kanban: -->
	<section class="py-3 mt-4">
	<div class="container px-4 mx-auto">
		<div class="flex flex-wrap -mx-3 -mb-8">
		<!-- COLUMN: Awaiting start -->
		<div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8">
			<div class="max-w-sm mx-auto px-4 pt-6 pb-24 dark:bg-gray-800 bg-gray-300 rounded-xl">
			<div class="flex items-center justify-between mb-3">
				<div class="flex items-center">
				<h3 class="text-lg text-black font-semibold mr-2">Awaiting start</h3>
				<span class="inline-flex items-center justify-center w-6 h-6 rounded-full bg-gray-600 text-xs font-medium text-gray-400">3</span>
				</div>
			</div>
			<div class="h-1 w-full mb-4 rounded-full bg-pink-500"></div>
			
			<!-- Embedding sustainability in Procurement: Solutions Phase 1 -->
			<a class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200" href="#">
				<h4 class="text-white font-semibold leading-6 mb-1">Embedding sustainability in Procurement</h4>
				<div class="flex items-center mb-4">
				<span class="h-2 w-2 mr-1 bg-pink-400 rounded-full"></span>
				<span class="text-xs font-medium text-pink-400">Solutions Phase 1</span>
				</div>
				<p class="text-xs text-gray-300 mb-4">
					Following the user research phase, this phase of work will be to implement the quicker wins in terms of solutions and opportunities identified from the research.
				</p>
				<div class="pt-4 border-t border-gray-500">
				<div class="flex flex-wrap items-center justify-between -m-2">
					<div class="w-auto p-2">
					</div>
					<div class="w-auto p-2">
					<div class="flex h-full items-center">
						<img data-tooltip-target="tooltip-owain" class="w-7 h-7 rounded-full object-cover" src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/dist/img/profiles/owain-morris.webp?raw=true" alt="">
						{# <img class="w-7 h-7 -ml-3 rounded-full object-cover" src="" alt=""> #}
					</div>
					</div>
					<div id="tooltip-owain" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
							Owain Morris
							<div class="tooltip-arrow" data-popper-arrow></div>
					</div>
				</div>
				</div>
			</a>
			<!-- Website Project: Discovery Phase 2 -->
			<a class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200" href="#">
				<h4 class="text-white font-semibold leading-6 mb-1">Website Project</h4>
				<div class="flex items-center mb-4">
				<span class="h-2 w-2 mr-1 bg-pink-400 rounded-full"></span>
				<span class="text-xs font-medium text-pink-400"> Discovery Phase 2</span>
				</div>
				<p class="text-xs text-gray-300 mb-4">
					To commission and undertake a programme of user research into the main Sport Wales website.
				</p>
				<div class="pt-4 border-t border-gray-500">
				<div class="flex flex-wrap items-center justify-between -m-2">
					<div class="w-auto p-2">
					</div>
					<div class="w-auto p-2">
					<div class="flex h-full items-center">
						<img data-tooltip-target="tooltip-paul" class="w-7 h-7 rounded-full object-cover" src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/dist/img/profiles/paul-batcup.webp?raw=true" alt="">
						<div id="tooltip-paul" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
							Paul Batcup
							<div class="tooltip-arrow" data-popper-arrow></div>
						</div>
					</div>
					</div>
				</div>
				</div>
			</a>
			<!-- Data & Insight Project: Alpha Phase -->
			<a class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200" href="#">
				<h4 class="text-white font-semibold leading-6 mb-1">Data & Insight Project</h4>
				<div class="flex items-center mb-4">
				<span class="h-2 w-2 mr-1 bg-pink-400 rounded-full"></span>
				<span class="text-xs font-medium text-pink-400">Alpha Phase</span>
				</div>
				<p class="text-xs text-gray-300 mb-4">
					To develop a Microsoft Azure data lake to house multiple data sets from various sources.
				</p>
				<div class="pt-4 border-t border-gray-500">
				<div class="flex flex-wrap items-center justify-between -m-2">
					<div class="w-auto p-2">
					</div>
					<div class="w-auto p-2">
					<div class="flex h-full items-center">
						<img data-tooltip-target="tooltip-steff" class="w-7 h-7 rounded-full object-cover" src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/dist/img/profiles/steffan-berrow.webp?raw=true" alt="">
						<div id="tooltip-steff" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
							Steffan Berrow
							<div class="tooltip-arrow" data-popper-arrow></div>
						</div>
					</div>
					</div>
				</div>
				</div>
			</a>
			
			</div>
		</div>
		<!-- COLUMN: Live -->
		<div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8">
			<div class="max-w-sm mx-auto px-4 pt-6 pb-24 dark:bg-gray-800 bg-gray-300 rounded-xl">
			<div class="flex items-center justify-between mb-3">
				<div class="flex items-center">
				<h3 class="text-lg text-black font-semibold mr-2">Live projects</h3>
				<span class="inline-flex items-center justify-center w-6 h-6 rounded-full bg-gray-600 text-xs font-medium text-gray-400">6</span>
				</div>
				
			</div>
			<div class="h-1 w-full mb-4 rounded-full bg-blue-500"></div>
			
			<!-- Investments Portal -->
			<a class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200" href="#">
				<h4 class="text-white font-semibold leading-6 mb-1">Investments Portal</h4>
				<div class="flex items-center mb-4">
				<span class="h-2 w-2 mr-1 bg-green-500 rounded-full"></span>
				<span class="text-xs font-medium text-green-500">Discovery Phase 2</span>
				</div>
				<p class="text-xs text-gray-300 leading-normal mb-10">To create a centralised system to manage investments.</p>
				<div class="pt-4 border-t border-gray-500">
				<div class="flex flex-wrap items-center justify-between -m-2">
					<div class="w-auto p-2">
					</div>
					<div class="w-auto p-2">
					<div class="flex h-full items-center">
						<img data-tooltip-target="tooltip-steff" class="w-7 h-7 rounded-full object-cover" src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/dist/img/profiles/steffan-berrow.webp?raw=true" alt="">
						<div id="tooltip-steff" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
							Steff Berrow
							<div class="tooltip-arrow" data-popper-arrow></div>
						</div>
					</div>
					</div>
				</div>
				</div>
			</a>
			<!-- Cyber Essentials Plus (CE+) Accreditation -->
			<a class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200" href="#">
				<h4 class="text-white font-semibold leading-6 mb-1">Infrastructure Upgrades</h4>
				<div class="flex items-center mb-4">
				<span class="h-2 w-2 mr-1 bg-green-500 rounded-full"></span>
				<span class="text-xs font-medium text-green-500">In progress</span>
				</div>
				<p class="text-xs text-gray-300 leading-normal mb-10">
					To achieve the accreditation of the information security standard.
				</p>
				<div class="pt-4 border-t border-gray-500">
				<div class="flex flex-wrap items-center justify-between -m-2">
					<div class="w-auto p-2">
					</div>
					<div class="w-auto p-2">
					<div class="flex h-full items-center">
						<img data-tooltip-target="tooltip-phil" class="w-7 h-7 rounded-full object-cover" src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/dist/img/profiles/phil-stephens.webp?raw=true" alt="">
						<img data-tooltip-target="tooltip-matt" class="w-7 h-7 -ml-3 rounded-full object-cover" src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/dist/img/profiles/matt-kinnear.webp?raw=true" alt="">
						<div id="tooltip-matt" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
							Matt Kinnear
							<div class="tooltip-arrow" data-popper-arrow></div>
						</div>
						{# <img class="w-7 h-7 -ml-3 rounded-full object-cover" src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/dist/img/profiles/paul-batcup.webp?raw=true" alt=""> #}
					</div>
					</div>
				</div>
				</div>
			</a>
			<!-- National Centre Booking Systems -->
			<a class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200" href="#">
				<h4 class="text-white font-semibold leading-6 mb-1">National Centre Booking System</h4>
				<div class="flex items-center mb-4">
				<span class="h-2 w-2 mr-1 bg-green-500 rounded-full"></span>
				<span class="text-xs font-medium text-green-500">Live</span>
				</div>
				<p class="text-xs text-gray-300 mb-4">
					To modernise the way Sport Wales operates the centre. This includes, but is not limited to managing and booking facilities, accommodation, catering for events and proving effective customer service to NGB's / Partners and external bodies.
				</p>
				<div class="pt-4 border-t border-gray-500">
				<div class="flex flex-wrap items-center justify-between -m-2">
					<div class="w-auto p-2">
					</div>
					<div class="w-auto p-2">
					<div class="flex h-full items-center">
						<img data-tooltip-target="tooltip-mathew" class="w-7 h-7 rounded-full object-cover" src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/dist/img/profiles/mathew-james.webp?raw=true" alt="">
					</div>
					</div>
				</div>
				</div>
			</a>
			<!-- Accommodation -->
			<a class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200" href="#">
				<h4 class="text-white font-semibold leading-6 mb-1">Integrated Impact Assessment</h4>
				<div class="flex items-center mb-4">
				<span class="h-2 w-2 mr-1 bg-green-500 rounded-full"></span>
				<span class="text-xs font-medium text-green-500">Solutions Phase 1</span>
				</div>
				<p class="text-xs text-gray-300 mb-4">
					To support the Integrated Impact Assessment process so that all staff are able to complete assessments.
				</p>
				<div class="pt-4 border-t border-gray-500">
				<div class="flex flex-wrap items-center justify-between -m-2">
					<div class="w-auto p-2">
					</div>
					<div class="w-auto p-2">
					<div class="flex h-full items-center">
						<img data-tooltip-target="tooltip-paul" class="w-7 h-7 rounded-full object-cover" src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/dist/img/profiles/paul-batcup.webp?raw=true" alt="">
						<div id="tooltip-paul" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
							Paul Batcup
							<div class="tooltip-arrow" data-popper-arrow></div>
						</div>
					</div>
					</div>
				</div>
				</div>
			</a>
			<!-- Foundations Framework -->
			<a class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200" href="#">
				<h4 class="text-white font-semibold leading-6 mb-1">Streamlining services to World Class Programme</h4>
				<div class="flex items-center mb-4">
				<span class="h-2 w-2 mr-1 bg-green-500 rounded-full"></span>
				<span class="text-xs font-medium text-green-500">Discovery Phase</span>
				</div>
				<p class="text-xs text-gray-300 mb-4">
				</p>
				<div class="pt-4 border-t border-gray-500">
				<div class="flex flex-wrap items-center justify-between -m-2">
					<div class="w-auto p-2">
					</div>
					<div class="w-auto p-2">
						<div class="flex h-full items-center">
							<img data-tooltip-target="tooltip-owain" class="w-7 h-7 -ml-3 rounded-full object-cover" src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/dist/img/profiles/owain-morris.webp?raw=true" alt="">
							<div id="tooltip-owain" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
								Owain Morris
								<div class="tooltip-arrow" data-popper-arrow></div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</a>
			<!-- Athlete Experience Portal Project -->
			<a class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200" href="#">
				<h4 class="text-white font-semibold leading-6 mb-1">Athlete Experience Portal Project</h4>
				<div class="flex items-center mb-4">
				<span class="h-2 w-2 mr-1 bg-purple-200 rounded-full"></span>
				<span class="text-xs font-medium text-purple-200">Advisory</span>
				</div>
				<p class="text-xs text-gray-300 leading-normal mb-10">
					This project is to create a digital space for athlete’s voices to be expressed, heard, and listened to.
				</p>
				<div class="pt-4 border-t border-gray-500">
				<div class="flex flex-wrap items-center justify-between -m-2">
					<div class="w-auto p-2">
					</div>
					<div class="w-auto p-2">
					<div class="flex h-full items-center">
						<img data-tooltip-target="tooltip-steff" class="w-7 h-7 rounded-full object-cover" src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/dist/img/profiles/steffan-berrow.webp?raw=true" alt="">
						{# <img class="w-7 h-7 -ml-3 rounded-full object-cover" src="" alt=""> #}
					</div>
					</div>
				</div>
				</div>
			</a>
			</div>
		</div>
		
		<!-- COLUMN: Completed -->
		<div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8">
			<div class="max-w-sm mx-auto px-4 pt-6 pb-24 dark:bg-gray-800 bg-gray-300 rounded-xl">
			<div class="flex items-center justify-between mb-3">
				<div class="flex items-center">
				<h3 class="text-lg text-black font-semibold mr-2">Completed (in 2025)</h3>
				<span class="inline-flex items-center justify-center w-6 h-6 rounded-full bg-gray-600 text-xs font-medium text-gray-400">1</span>
				</div>
				
			</div>
			<div class="h-1 w-full mb-4 rounded-full bg-green-500"></div>
			<!-- DAM tool -->
			<a class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200" href="#">
				<h4 class="text-white font-semibold leading-6 mb-1">Data & Insight Project</h4>
				<div class="flex items-center mb-4">
				<span class="h-2 w-2 mr-1 bg-pink-400 rounded-full"></span>
				<span class="text-xs font-medium text-pink-400">Discovery Phase</span>
				</div>
				<p class="text-xs text-gray-300 leading-normal mb-10">
					To develop a Microsoft Azure data lake to house multiple data sets from various sources.
				</p>
				<div class="pt-4 border-t border-gray-500">
				<div class="flex flex-wrap items-center justify-between -m-2">
					<div class="w-auto p-2">
					</div>
					<div class="w-auto p-2">
					<div class="flex h-full items-center">
						<img data-tooltip-target="tooltip-steff" class="w-7 h-7 rounded-full object-cover" src="https://github.com/TaraRhoseyn/digital-team-site/blob/main/dist/img/profiles/steffan-berrow.webp?raw=true" alt="">
						{# <img class="w-7 h-7 -ml-3 rounded-full object-cover" src="" alt=""> #}
					</div>
					</div>
					<div id="tooltip-steff" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
							Steffan Berrow
							<div class="tooltip-arrow" data-popper-arrow></div>
					</div>
				</div>
				</div>
			</a>
			</div>
		</div>
		</div>
	</div>
	</section>
</div>
{% endblock %}