{% extends "base.njk" %}
{% block content %}
    <div class="container mx-auto px-9 max-w-screen-xl mb-5 mb-5">
        <h1 class="my-20 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Accessing support</h1>
        <p class="mt-3">
            This page summarises how a Sport Wales project concept can reach the Digital & Service Design (D&SD) Team and from
            there, how the team’s support and skills can be accessed to develop a solution to a problem which the project is planned
            to solve.
        </p>
        <h2 class="text-3xl font-bold my-4">The process</h2>
        <p>
            If you have a project which you feel would resolve a
            <a href="https://www.nngroup.com/articles/problem-statements/" target="blank" class="text-blue-500 hover:underline">‘problem’</a>
            or improve a service, then it will be worth exploring this with the D&SD team.
        </p>
        <p class="mt-3">
            Please fill the ‘Project Request Form’ (PRF),
            <a href="project-request-form.html" target="blank" class="text-blue-500 hover:underline">available here</a>, with as much information as you can, to tell us
                about what you have in mind! This will enable a good starting point for a conversation. From there we can use the
                following steps to determine how the team could help with delivering the project.
        </p>
        <div
            class="flex flex-wrap justify-center mt-10">
            <!-- card 1 -->
            <div class="p-4 max-w-sm">
                <div class="flex rounded-lg h-full dark:bg-gray-800 bg-gray-200 shadow-xl p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-red-600 bg-red-600 text-white
                                flex-shrink-0">
                            <i class="fa-solid fa-mug-hot"></i>
                        </div>
                        <h2 class="text-black dark:text-white text-lg font-medium">Step 1. Coffee chat</h2>
                    </div>
                    <div class="flex flex-col justify-between flex-grow">
                        <p class="leading-relaxed text-base text-black dark:text-gray-300">
                            An initial chat between someone with a potential project and any member of the D&SD team. This will enable an
                            opportunity to talk through the process and introduce the PRF.
                        </p>
                    </div>
                </div>
            </div>
            <div class="hidden xl:flex w-5 h-5 mt-20 border-t-2 border-gray-500"></div>
            <!-- card 2 -->
            <div class="p-4 max-w-sm">
                <div class="flex rounded-lg h-full dark:bg-gray-800 bg-gray-200 shadow-xl p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-red-600 bg-red-600 text-white
                                flex-shrink-0">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </div>
                        <h2 class="text-black dark:text-white text-lg font-medium">Step 2. Complete Project Request Form</h2>
                    </div>
                    <div class="flex flex-col justify-between flex-grow">
                        <p class="leading-relaxed text-base text-black dark:text-gray-300">
                            The ‘problem’ should be outlined within the PRF. However, the conversation with colleagues will help to identify any
                            additional details which could be added to improve the D&SD team’s understanding of the project and the form can be
                            amended accordingly by the project contact point.
                        </p>
                    </div>
                </div>
            </div>
            <div class="hidden xl:flex w-5 h-5 mt-20 border-t-2 border-gray-500"></div>
            <!-- card 3 -->
            <div class="p-4 max-w-sm">
                <div class="flex rounded-lg h-full dark:bg-gray-800 bg-gray-200 shadow-xl p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-red-600 bg-red-600 text-white
                                flex-shrink-0">
                            <i class="fa-regular fa-circle-check"></i>
                        </div>
                        <h2 class="text-black dark:text-white text-lg font-medium">Step 3. Submit Project Request Form</h2>
                    </div>
                    <div class="flex flex-col justify-between flex-grow">
                        <p class="leading-relaxed text-base text-black dark:text-gray-300">
                            This should be submitted to the D&SD team by following the instructions on either the manual or online form.
                        </p>
                    </div>
                </div>
            </div>
            <div class="p-4 max-w-sm">
                <div class="flex rounded-lg h-full dark:bg-gray-800 bg-gray-200 shadow-xl p-8 flex-col">
                    <div class="flex items-center mb-3 hover:text-white">
                        <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-red-600 bg-red-600 text-white
                                flex-shrink-0">
                            <i class="fa-regular fa-comment"></i>
                        </div>
                        <h2 class="text-black dark:text-white text-lg font-medium">Step 4. Programme Board discusses Project Request Form</h2>
                    </div>
                    <div class="flex flex-col justify-between flex-grow">
                        <p class="leading-relaxed text-base text-black dark:text-gray-300">
                            This involves the team needing to assess the project priority level, timescales, technical considerations, and resource
                            availability to support the work.                        </p>
                    </div>
                </div>
            </div>
            <div class="hidden xl:flex w-5 h-5 mt-20 border-t-2 border-gray-500"></div>
            <div class="p-4 max-w-sm">
                <div class="flex rounded-lg h-full dark:bg-gray-800 bg-gray-200 shadow-xl p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-red-600 bg-red-600 text-white
                                flex-shrink-0">
                            <i class="fa-regular fa-comments"></i>
                        </div>
                        <h2 class="text-black dark:text-white text-lg font-medium">Step 5. Confirmation given to project</h2>
                    </div>
                    <div class="flex flex-col justify-between flex-grow">
                        <p class="leading-relaxed text-base text-black dark:text-gray-300">
                            The lead contact / project sponsor will receive an update from the D&SD team as to whether the D&SD could support the
                            delivery of the project in question. If agreed project timescales and approach will be discussed further.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}