{% extends "base.njk" %}
{% block content %}
<div class="container mx-auto px-9 max-w-screen-xl mb-5">
    <h1 class="my-20 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Website Roadmap</h1>
    <p class="mt-3">
        As of the time of writing (30th January 2024), this website is in it's first iteration. We've got plans to add more to this site as time goes on, below is our roadmap (
        a list of features and/or pages we want to develop in the future):
    </p>
    <h2 class="text-3xl font-bold my-4">Development Goals for 2024</h2>
    <h3 class="text-2xl font-bold my-4">On-going Improvements</h3>
    <p class="mt-3">
        We anticipate a lot of small-scale on-going development for 2024 as it'll be the first full year this site is live and used. As we share this site with colleagues,
        we want to include their feedback into our development plans and how we can best meet their needs.
    </p>
    <p class="mt-3">
        If you have an idea of what you'd like to see on the site, get in touch and let us know!
    </p>
    <p class="mt-3">
        If on-going work turns into large feature development, we'll list that scheduled work on this webpage.
    </p>
    <h3 class="text-2xl font-bold my-4">Translation</h3>
    <p class="mt-3">
        The website is not currently available in Welsh (Jan 2024), this is due to a couple of reasons:
    </p>
    <ul class="list-disc ml-8">
        <li class="mb-3 mt-3">We want to get the structure and important content right before we translate it</li>
        <li class="mb-3">We want to be sure that the technology behind how we've built this website is right and doesn't need to be changed</li>
        <li class="mb-3">We want to explore technological options for making translated webpages more easily</li>
    </ul>
    <h2 class="text-3xl font-bold my-4">Development Goals for 2025</h2>
    <h3 class="text-2xl font-bold my-4">Content Management System (CMS)</h3>
    <p class="mt-3">
        A CMS would give non-developers direct access to write and upload blog posts to the website without needing to go through the technical staff on the team.
    </p>
</div>
{% endblock %}

